<template>
  <div class="Escuela">
    <div v-if="$cookies.get('lang')== 'es'">
      <h1>Escuela de patinaje:</h1>
    </div>
    <div v-if="$cookies.get('lang')== 'eu'">
      <h1>Patin-eskola:</h1>
    </div>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--  ponemos un video en el que se ve lo que se hace en esta escuela -->
    <!-- <iframe
      class="video"
      src="https://drive.google.com/file/d/1S6ogk6ck9XMOWj-NPM67aZOl6Y2uVL4U/preview"
      width="850"
      height="500"
    ></iframe>
   
    
    <div v-if="$cookies.get('lang')== 'es'">
         
     <p align="center">
      <br />El objetivo es que los niños aprendan a patinar de forma divertida y adquieran las habilidades básicas para moverse sobre patines.
      <br />La práctica del patinaje fomenta habilidades motoras, físicas y psicológicas. Sin darnos cuenta, y a través de ejercicios técnicos y lúdicos, mejorarán
      cualidades como la coordinación, el equilibrio, la armonía corporal, la
      salud, la fortaleza y la concentración, así como valores de relación con
      los compañeros, superación, auto confianza, respeto…
      <br />Los alumnos poco a poco se afianzaran con su propio cuerpo, lo conocerán y lo
      controlaran, creando una imagen positiva de uno mismo. Ellos disfrutarán
      del patinaje a medida que adquieran las capacidades técnicas.
      <br />El aprendizaje del patinaje es el primer paso para iniciarse en el mundo del hockey.
      <br />Edad recomendada: de 5 a 8 años. No obstante, se admiten hasta 11 años.
      <br />lunes y miércoles de 17:00-18:30 en la pista de hockey del polideportivo de Txurdinaga.
      <br />
      <br />
      <br /></p>
       </div>
    <div v-if="$cookies.get('lang')== 'eu'">
         
          <p align="center">
      
       Patin-eskolaren helburua da haurrek ondo pasatuz patinatzen ikastea
      eta patinen gainean mugitzeko oinarrizko trebetasunak eskuratzea.
      <br />Irristaketaren praktikarekin gaitasun motorrak, fisikoak eta
      psikologikoak sustatzen dira. Konturatu gabe eta ariketa teknikoen eta
      jolasen bidez, koordinazioa, oreka, gorputz-harmonia, osasuna,
      sendotasuna, kontzentrazioa hobetsiko dituzte, eta gainera, zenbait balio,
      hala nola ikaskideekiko harreman-alderdiak, nork bere burua hobetzea eta
      bere buruarengan konfiantza sustatzea, errespetua…
      <br />Ikasleek
      polili-poliki euren gorputzaz jabetzea, ezagutzea eta kontrolatzea dute
      xedea, norberaren irudi positiboa sortuz. Haiek irristaketa gozatuko dute
      gaitasun teknikoak eskuratzen dituzten heinean.
      <br />Irristaketa da
      hockeyaren munduan hasteko lehen urratsa.
      <br />Adin gomendatua: 5-8 urte
      bitartean; dena den, 11 urte arte onartzen dira.
      <br />Ordutegia:
      astelehenetan eta asteazkenetan 17:00-18:30 Txurdinagako kiroldegiko
      hockey-pistan
    </p>
</div> -->
    <div class="contenedor_video">
      <iframe
        class="video"
        src="https://drive.google.com/file/d/1S6ogk6ck9XMOWj-NPM67aZOl6Y2uVL4U/preview"
        width="850"
        height="500"
      ></iframe>
    </div>

    <div v-if="$cookies.get('lang')== 'es'">
      <p align="center">
        <br />El objetivo es que los niños aprendan a patinar de forma divertida y adquieran las habilidades básicas para moverse sobre patines.
        <br />La práctica del patinaje fomenta habilidades motoras, físicas y psicológicas. Sin darnos cuenta, y a través de ejercicios técnicos y lúdicos, mejorarán
        cualidades como la coordinación, el equilibrio, la armonía corporal, la
        salud, la fortaleza y la concentración, así como valores de relación con
        los compañeros, superación, auto confianza, respeto…
        <br />Los alumnos poco a poco se afianzaran con su propio cuerpo, lo conocerán y lo
        controlaran, creando una imagen positiva de uno mismo. Ellos disfrutarán
        del patinaje a medida que adquieran las capacidades técnicas.
        <br />El aprendizaje del patinaje es el primer paso para iniciarse en el mundo del hockey.
        <br />Edad recomendada: de 5 a 8 años. No obstante, se admiten hasta 11 años.
        <br /><br />Horario: lunes y miércoles de 17:00-18:30 en la pista de hockey del polideportivo de Txurdinaga.
        <br />
      </p>
    </div>
    <br />
    <br />
    <div v-if="$cookies.get('lang')== 'eu'">
      <p align="center">
        Irristaketa-eskola
Patin-eskolaren helburua da haurrek ondo pasatuz patinatzen ikastea eta patinen gainean mugitzeko oinarrizko trebetasunak eskuratzea.
<br />Irristaketaren praktikarekin gaitasun motorrak, fisikoak eta psikologikoak sustatzen dira. Konturatu gabe eta ariketa teknikoen eta jolasen bidez, koordinazioa, oreka, gorputz-harmonia, osasuna, sendotasuna, kontzentrazioa hobetsiko dituzte, eta gainera, zenbait balio, hala nola ikaskideekiko harreman-alderdiak, nork bere burua hobetzea eta bere buruarengan konfiantza sustatzea, errespetua…
<br />Ikasleek polili-poliki euren gorputzaz jabetzea, ezagutzea eta kontrolatzea dute xedea, norberaren irudi positiboa sortuz. Haiek irristaketa gozatuko dute gaitasun teknikoak eskuratzen dituzten heinean.
<br />Irristaketa da hockeyaren munduan hasteko lehen urratsa.
<br />Adin gomendatua: 5-8 urte bitartean; dena den, 11 urte arte onartzen dira.
<br /><br />Ordutegia: astelehenetan eta asteazkenetan 17:00-18:30 Txurdinagako kiroldegiko hockey-pistan

        <br />
        <br />
        <br />
      </p>
    </div>
  </div>
</template>

<script>
export default {
  name: "Escuela"
};
</script>

<style scoped>
p {
  font-family: "Noto Serif", serif;
  padding-left: 40px;
  padding-right: 50px;
}

.Escuela {
  background-color: rgb(0, 56, 123);
  border: 2px solid rgb(0, 56, 123);
  font-family: "Noto Serif", serif;
  font-size: 25px;
  align-content: center;
  text-align: center;
  color: white;
  border-radius: 0rem;
  margin: 0rem;
}
.contenedor_video {
  text-align: center;
}
.video {
  width: 850px;
  height: 550px;
  margin: 0%;
}

@media only screen and (max-width: 600px) {
  .Escuela {
    border: 4px solid rgb(0, 15, 117);
    border-radius: 0rem;
    margin: 0rem;
  }

  p {
    font-family: "Noto Serif", serif;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  .video {
    width: 90%;
    height: auto;
  }
}
</style>
