<template>
  <div class="Publicidad">
    <h1>Publicidad / Anuncios / Colaboradores</h1>
    <img src="@/assets/Publicidad/Alai.jpg" alt="Alai" />
    <img src="@/assets/Publicidad/Albizu.jpg" alt="Albizu" />
    <img src="@/assets/Publicidad/Ana.jpg" alt="Ana" />
    <img src="@/assets/Publicidad/APG.jpg" alt="APG" />
    <img src="@/assets/Publicidad/Arkupe.jpg" alt="Arkupe" />
    <img src="@/assets/Publicidad/Arteburu.jpg" alt="Arteburu" />
    <img src="@/assets/Publicidad/BacalaosPil-Piliean.jpg" alt="Bacalaos Pil-piliean" />
    <img src="@/assets/Publicidad/Baserri.jpg" alt="Baserri" />
    <img src="@/assets/Publicidad/Baztertxu.jpg" alt="Baztertxu" />
    <img src="@/assets/Publicidad/Bilbao_Kirolak.jpg" alt="Bilbao Kirolak" />
    <img src="@/assets/Publicidad/Bilbo.jpg" alt="Bilbo" />
    <img src="@/assets/Publicidad/Boto.jpg" alt="Boto" />
    <img src="@/assets/Publicidad/Brillantes.jpg" alt="Brillantes" />
    <img src="@/assets/Publicidad/Conorte.jpg" alt="Conorte" />
    <img src="@/assets/Publicidad/Dayton.jpg" alt="Dayton" />
    <img src="@/assets/Publicidad/El_Norte.jpg" alt="El Norte" />
    <img src="@/assets/Publicidad/Flores_Lys.jpg" alt="Flores Lys" />
    <img src="@/assets/Publicidad/Garaizar.jpg" alt="Garaizar" />
    <img src="@/assets/Publicidad/Guretxe.jpg" alt="Guretxe" />
    <img src="@/assets/Publicidad/Grafiazkar.jpg" alt="Grafiazkar" />
    <img src="@/assets/Publicidad/Hnos_Urrutia.jpg" alt="Hns. Urrutia" />
    <img src="@/assets/Publicidad/Lambrusko.jpg" alt="LambrusKo" />
    <img src="@/assets/Publicidad/Lanbroa.jpg" alt="Lanbroa" />
    <img src="@/assets/Publicidad/Mahats_Herri.jpg" alt="Mahats-Herri" />
    <img src="@/assets/Publicidad/Moralejo.jpg" alt="Moralejo" />
    <img src="@/assets/Publicidad/Munoa.jpg" alt="Muñoa" />
    <img src="@/assets/Publicidad/Norte_y_Sur.jpg" alt="Norte y Sur" />
    <img src="@/assets/Publicidad/Peluqueria_Low_Cost.jpg" alt="Peluqueria Low Cost" />
    <!-- <img src="@/assets/Publicidad/PokerStar.jpg" alt="PokerStar" />-->
    <img src="@/assets/Publicidad/Saneamientos_Pereda.jpg" alt="Saneamientos Pereda" />
    <!--<img src="@/assets/Publicidad/Serinco.jpg" alt="Serinco" />-->
    <img src="@/assets/Publicidad/Takoa.jpg" alt="Takoa" />
    <img src="@/assets/Publicidad/Tempel.jpg" alt="Tempel" />
    <img
      src="@/assets/Publicidad/The_English_Institute.jpg"
      alt="The English Institute"
      width="150;"
      height="auto;"
    />
  </div>
</template>

<script>
export default {
  name: "Patrocinadores_2"
};
</script>

<style scoped>
.Publicidad {
  background-color: rgb(30, 106, 182);
  width: 150px;
  height: auto;
  border: 2px solid #abc;
  border-radius: 1rem;
  margin: 2rem;
}

@media only screen and (max-width: 600px) {
}
</style>
