<template>
  <div class="equipo">
    <h1>{{ categoria }}</h1>
    <img :src="foto" style="width:100%;" />

    <p align="center">
      <br />
      {{ integrantes[0] }}
      <br />
      {{ integrantes[1] }}
      <br />
      {{ integrantes[2] }}
      <br />
      {{ integrantes[3] }}
      <br />
      {{ integrantes[4] }}
      <br />
      {{ integrantes[5] }}
      <br />
      {{ integrantes[6] }}
      <br />
    </p>
  </div>
</template>

<script>
import club from "@/infoClub.js";

export default {
  name: "EquipoComp",
  props: {
    codigo: { type: String, required: true }
  },

  data() {
    const lang=this.$cookies.get('lang')
    return {
      categoria: club.equipos[this.codigo][lang].categoria,
      foto: require("@/assets/" + club.equipos[this.codigo][lang].foto),
      integrantes: club.equipos[this.codigo][lang].integrantes
    };
  }
};
</script>

<style scoped>
.equipo {
  background: rgb(0, 56, 123);
  border: 0px solid rgb(0, 56, 123);
  border-radius: 0rem;
  margin: 0px;
  font-family: "Noto Serif", serif;
  font-size: 16px;
   align-content: center;
  text-align: center;
  color: white;
}
h1 {
  font-family: "Noto Serif", serif;
  font-size: 60px;
  color: white;
}
@media only screen and (max-width: 600px) {
  h1 {
    font-family: "Noto Serif", serif;
    font-size: 30px;
    color: white;
  }
}
</style>
