<template>
  <div class="Equipos" name="Equipos">
  <!--  <div class="arrow">
      <a href="#">
        <img src="@/assets/logos/top.png" alt="top" />
      </a>
    </div> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <div v-if="$cookies.get('lang')== 'es'">
      <h1>Equipos</h1>
    </div>

    <div v-if="$cookies.get('lang')== 'eu'">
      <h1>Taldeek</h1>
    </div>

    <EquipoComp codigo="eskola" />
    <p>
      <a href="#">
        <img src="@/assets/logos/top.png" alt="top" />
      </a>
    </p> 

    <EquipoComp codigo="benjamin" />
    <p>
      <a href="#">
        <img src="@/assets/logos/top.png" alt="top" />
      </a>
    </p>

    <EquipoComp codigo="alevinB" />
     <p>
      <a href="#">
        <img src="@/assets/logos/top.png" alt="top" />
      </a>
    </p>
    <EquipoComp codigo="alevinA" />
     <p>
      <a href="#">
        <img src="@/assets/logos/top.png" alt="top" />
      </a>
    </p>
    <EquipoComp codigo="infantilB" />
    <p>
      <a href="#">
        <img src="@/assets/logos/top.png" alt="top" />
      </a>
    </p>
    <EquipoComp codigo="infantilA" />
      <p>
      <a href="#">
        <img src="@/assets/logos/top.png" alt="top" />
      </a>
    </p>
    <EquipoComp codigo="cadete" />
    <p>
      <a href="#">
        <img src="@/assets/logos/top.png" alt="top" />
      </a>
    </p>
    <EquipoComp codigo="juvenil" />
     <a href="#">
      <img src="@/assets/logos/top.png" alt="top" />
    </a>
    <EquipoComp codigo="junior" />
     <p>
      <a href="#">
        <img src="@/assets/logos/top.png" alt="top" />
      </a>
    </p>
    <EquipoComp codigo="sub23" />
    <p>
      <a href="#">
        <img src="@/assets/logos/top.png" alt="top" />
      </a>
    </p>
    <EquipoComp codigo="senior" />
     <p>
      <a href="#">
        <img src="@/assets/logos/top.png" alt="top" />
      </a>
    </p>
    <EquipoComp codigo="femenino" />
     <p>
      <a href="#">
        <img src="@/assets/logos/top.png" alt="top" />
      </a>
    </p>
    <EquipoComp codigo="izaharrak" />
     <p>
      <a href="#">
        <img src="@/assets/logos/top.png" alt="top" />
      </a>
    </p>
  </div>

  <!--  <a class="buttonTop" href="#"><img src="icons/top.png" alt="top"></a> -->
</template>
+
<script>
import EquipoComp from "./EquipoComp.vue";

export default {
  name: "equipos",
  components: {
    EquipoComp
  }
};
</script>

<style scoped>
.Equipos {
  background: rgb(0, 56, 123);
  border: 2px solid rgb(0, 56, 123);
  /*   width: 100%; */
  height: auto;
  border-radius: 0rem;
  margin: 0px;
  font-family: "Noto Serif", serif;
  font-size: 40px;
  align-content: center;
  text-align: center;
  color: white;
}
a img {
  width: 2%;
}

.arrow a {
  position: fixed;
  top: 80%;
  left: 94%;
  padding: 2px;
  z-index: 1000;
}
@media only screen and (max-width: 600px) {
  h1 {
    font-family: "Noto Serif", serif;
    font-size: 40px;
    color: white;
  }
  a img {
  width: 10%;
}
  .arrow a {
  position: fixed;
  top: 80%;
  left: 94%;
  padding: 2px;
  z-index: 1000;
}

}
</style>
