<template>
  <div class="Historia">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--  ponemos un video en el que se ve lo que se hace en esta escuela -->
    <br />
    <!-- <div v-if="$cookies.get('lang')== 'eu'">
      en euskera
      </div> -->
<div v-if="$cookies.get('lang')== 'es'">
    
      <h1>Historia de nuestro Club: Santutxu Hockey Taldea</h1></div>

    <div v-if="$cookies.get('lang')== 'eu'">
      
      
<!-- <div v-if="$cookies.get('lang')== 'es'">
      en castellano
      </div> --><h1>Gure Klubaren historia: Santutxu Hockey Taldea</h1></div>
    <br />
    <!-- menu para diferentes textos-->
    <div class="menu_historia">
    <ul id=”button”>
 <li><a href=”#antecedentes”>Antecedentes </a></li>
 <li><a href=”#creacion”>Creación </a></li>
 <li><a href=”#80”>Los años 80 </a></li>
 <li><a href=”#90”>Los años 90</a></li>
 <li><a href=”#primera”>La primera década del siglo XXI </a></li>
 <li><a href=”#segunda”>La segunda década del siglo XXI </a></li>
 </ul>
 </div>
    <p align="center">
      <br />
      <!--<iframe
        class="word"
        src="https://docs.google.com/document/d/e/2PACX-1vSXbfOuQX8jLq7_hu5x3HToLss8m7xbAPIkVl6VmW9qP_NFTm2TRmEg1zcbPyaJ9tuXqU9m38hQxgl2/pub?embedded=true"
      ></iframe> -->
    </p>
    <br />
    <br />
    <br />
    <div class="contenedor_video">
    <iframe
      class="video"
      src="https://drive.google.com/file/d/1UpE2wxsgeaTQG1TJqQvj2P0akKwlHq0a/preview"
    ></iframe></div>
    <br />
    <!-- <div v-if="$cookies.get('lang')== 'eu'">
      en euskera
      </div> -->
<div v-if="$cookies.get('lang')== 'es'">
      
      <br />Este es el dia que cambiamos a la pista nueva...y nos despedimos de la "vieja".</div>
    <br />

    <div v-if="$cookies.get('lang')== 'eu'">
    
     
<!-- <div v-if="$cookies.get('lang')== 'es'">
      en castellano
      </div> --><br />Pista berrira aldatzeko eguna da ... eta agur esan "zaharrari". </div>
    
  </div>
</template> 

<script>
export default {
  name: "Historia"
};
</script>

<style scoped>

p {
  font-family: "Noto Serif", serif;
  font-size: 20px;
  color: white;
  padding-left: 40px;
  padding-right: 50px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
h1 {
  font-family: "Noto Serif", serif;
  font-size: 40px;
  color: white;
}

.Historia {
  background-color: rgb(0, 56, 123);
  border: 0px solid rgb(0, 56, 123);
  font-family: "Noto Serif", serif;
  font-size: 30px;
  align-content: center;
  text-align: center;
  color: white;
  border-radius: 0rem;
  margin: 0rem;
  width: 100%;
}
.contenedor_video {
  text-align: center;
}
.video {
  width: 85vw;
  height: 80vh;
}
.word {
  width: 85vw;
  height: 80vh;
  /*  width: 1000px;
  height: 425px; */
}
.menu_historia{
   padding: 0;
 
   font-family: "Noto Serif", serif;
   font-size: 10px;
   margin: 2%;
}
.menu_historia li{
  display: inline;
  margin:2%;
}
.menu_historia li a:hover {
 background-color: rgb(228, 13, 13);
 margin-top: -2;
 padding-bottom: 5px;
 }
@media only screen and (max-width: 600px) {
  p {
    font-family: "Noto Serif", serif;
    color: white;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }

  .Historia {
    /* background-color: rgb(0, 56, 123); */
    font-family: "Noto Serif", serif;
    border: 2px solid rgb(0, 56, 123);
    border-radius: 0rem;
    margin: 0rem;
    width: 100%;
  }
  .video {
    width: 80%;
    height: auto;
  }
  .word {
    width: 100%;
    height: auto;
  }
}
</style>
