<!-- <!DOCTYPE html>
<html> -->
<head> 
<template>
  <div class="Historia">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {box-sizing: border-box}

/* Set height of body and the document to 100% */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}

/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

#Antecedentes {background-color: red;}
#Creacion {background-color: green;}
#80 {background-color: blue;}
#90 {background-color: orange;}
#Primera {background-color: blue;}
#Segunda {background-color: blue;}
/*#80 {background-color: blue;} */
</style>
<!-- /*</head> */ -->
<body>

<button class="tablink" onclick="openPage('Antecedentes', this, 'red')">Antecedentes</button>
<button class="tablink" onclick="openPage('Creacion', this, 'green')" id="defaultOpen">Creacion del Club</button>
<button class="tablink" onclick="openPage('80', this, 'blue')">Los años 80</button>
<button class="tablink" onclick="openPage('90', this, 'orange')">Los años 90</button>
<button class="tablink" onclick="openPage('Primera', this, 'orange')">La primera decada del siglo XXI</button>
<button class="tablink" onclick="openPage('Segunda', this, 'orange')">La segunda decada del siglo XXI</button>

<!--<button class="tablink" onclick="openPage('About', this, 'orange')">About</button>
<button class="tablink" onclick="openPage('About', this, 'orange')">About</button>-->

<div id="Antecedentes" class="tabcontent">
  <h3>Antecedentes</h3>
  <p>Home is where the heart is..</p>
</div>

<div id="Creacion" class="tabcontent">
  <h3>Creacion del Club</h3>
  <p>Some news this fine day!</p> 
</div>

<div id="80" class="tabcontent">
  <h3>Años 80</h3>
  <p>Get in touch, or swing by for a cup of coffee.</p>
</div>

<div id="90" class="tabcontent">
  <h3>Años 90</h3>
  <p>Who we are and what we do.</p>
</div>

<div id="Primera" class="tabcontent">
  <h3>Primera decada del siglo XXI</h3>
  <p>Who we are and what we do.</p>
</div>

<div id="Segunda" class="tabcontent">
  <h3>Segunda decada del siglo XXI</h3>
  <p>Who we are and what we do.</p>
</div>

<!-- <div id="About" class="tabcontent">
  <h3>About</h3>
  <p>Who we are and what we do.</p>
</div> -->

<script>
function openPage(pageName,elmnt,color) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].style.backgroundColor = "";
  }
  document.getElementById(pageName).style.display = "block";
  elmnt.style.backgroundColor = color;
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
</script>
   
</body>
