<template>
  <div class="Historia">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--  ponemos un video en el que se ve lo que se hace en esta escuela -->
    <br />
    <!-- <div v-if="$cookies.get('lang')== 'eu'">
      en euskera
      </div> -->
<div v-if="$cookies.get('lang')== 'es'">
    
      <h1>Historia de nuestro Club: Santutxu Hockey Taldea</h1></div>

    <div v-if="$cookies.get('lang')== 'eu'">
      
      
<!-- <div v-if="$cookies.get('lang')== 'es'">
      en castellano
      </div> --><h1>Gure Klubaren historia: Santutxu Hockey Taldea</h1></div>
    <br />
    <!-- menu para diferentes textos-->
    <div class="menu_historia">
     <!--<ul id=”button”>
 <li><a href=”#”>Antecedentes </a></li>
 <li><a href=”#”>Creación </a></li>
 <li><a href=”#”>Los años 80 </a></li>
 <li><a href=”#”>Los años 90</a></li>
 <li><a href=”#”>La primera década del siglo XXI </a></li>
 <li><a href=”#”>La segunda década del siglo XXI </a></li>
 </ul> -->
 </div>
<button class="tablink" onclick="openPage('Antecedentes', this, 'red')">Antecedentes</button>
<button class="tablink" onclick="openPage('Creacion', this, 'green')" id="defaultOpen">Creacion</button>
<button class="tablink" onclick="openPage('80', this, 'blue')">Los años 80</button>
<button class="tablink" onclick="openPage('90', this, 'orange')">Los años 90</button>
<button class="tablink" onclick="openPage('Primera', this, 'orange')">Primera decada del siglo XXI</button>
<button class="tablink" onclick="openPage('Segunda', this, 'orange')">Segunda decada del siglo XXI</button>

<div id="Antecedentes" class="tabcontent">
  <h3>Antecedentes</h3>
  <p>Home is where the heart is..</p>
</div>

<div id="Creacion" class="tabcontent">
  <h3>Creacion</h3>
  <p>Some news this fine day!</p>
</div>

<div id="80" class="tabcontent">
  <h3>Años 80</h3>
  <p>Get in touch, or swing by for a cup of coffee.</p>
</div>

<div id="90" class="tabcontent">
  <h3>Años 90</h3>
  <p>Who we are and what we do.</p>
</div>

<div id="Primera" class="tabcontent">
  <h3>Primera decada del siglo XXI</h3>
  <p>Who we are and what we do.</p>
</div>

<div id="Segunda" class="tabcontent">
  <h3>Segunda decada del siglo XXI</h3>
  <p>Who we are and what we do.</p>
</div>

    <p align="center">
      <br />
      <!--<iframe
        class="word"
        src="https://docs.google.com/document/d/e/2PACX-1vSXbfOuQX8jLq7_hu5x3HToLss8m7xbAPIkVl6VmW9qP_NFTm2TRmEg1zcbPyaJ9tuXqU9m38hQxgl2/pub?embedded=true"
      ></iframe> -->
    </p>
    <br />
    <br />
    <br />
    <div class="contenedor_video">
    <iframe
      class="video"
      src="https://drive.google.com/file/d/1UpE2wxsgeaTQG1TJqQvj2P0akKwlHq0a/preview"
    ></iframe></div>
    <br />
    <!-- <div v-if="$cookies.get('lang')== 'eu'">
      en euskera
      </div> -->
<div v-if="$cookies.get('lang')== 'es'">
      
      <br />Este es el dia que cambiamos a la pista nueva...y nos despedimos de la "vieja".</div>
    <br />

    <div v-if="$cookies.get('lang')== 'eu'">
    
     
<!-- <div v-if="$cookies.get('lang')== 'es'">
      en castellano
      </div> --><br />Pista berrira aldatzeko eguna da ... eta agur esan "zaharrari". </div>
    
  </div>
</template> 

<script>
export default {
  name: "Historia"
};

 /*Hide all elements with class="tabcontent" by default / 
Ocultar todos los elementos con class = "tabcontent" de forma predeterminada 

function openPage(pageName, elmnt, color) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }

  // Remove the background color of all tablinks/buttons / Eliminar el color de fondo de todos los botones / pestañas 
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].style.backgroundColor = "";
  }

  // Show the specific tab content / Mostrar el contenido de la pestaña específica 
  document.getElementById(pageName).style.display = "block";

  // Add the specific color to the button used to open the tab content / Agregue el color específico al botón utilizado para abrir el contenido de la pestaña
  elmnt.style.backgroundColor = color;
}

// Get the element with id="defaultOpen" and click on it / Obtenga el elemento con id = "defaultOpen" y haga clic en él

document.getElementById("defaultOpen").click();*/


</script>

<style scoped>

p {
  font-family: "Noto Serif", serif;
  font-size: 20px;
  color: white;
  padding-left: 40px;
  padding-right: 50px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
h1 {
  font-family: "Noto Serif", serif;
  font-size: 40px;
  color: white;
}

.Historia {
  background-color: rgb(0, 56, 123);
  border: 0px solid rgb(0, 56, 123);
  font-family: "Noto Serif", serif;
  font-size: 30px;
  align-content: center;
  text-align: center;
  color: white;
  border-radius: 0rem;
  margin: 0rem;
  width: 100%;
}
.contenedor_video {
  text-align: center;
}
.video {
  width: 85vw;
  height: 80vh;
}
.word {
  width: 85vw;
  height: 80vh;
  /*  width: 1000px;
  height: 425px; */
}
.menu_historia{
   padding: 0;
 
   font-family: "Noto Serif", serif;
   font-size: 10px;
   margin: 2%;
}
.menu_historia li{
  display: inline;
  margin:2%;
}
.menu_historia li a:hover {
 background-color: rgb(228, 13, 13);
 margin-top: -2;
 padding-bottom: 5px;
 }

/*Añadimos css para las pestañas del menu*/
 /* / Establezca la altura del cuerpo y el documento al 100% para habilitar "pestañas de página completa" */

body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}

/* Style tab links /Enlaces de pestaña de estilo */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) /
Diseñe el contenido de la pestaña (y agregue altura: 100% para contenido de página completa) */

.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

#Antecedentes {background-color: red;}
#Creacion {background-color: blue;}
#80 {background-color: red;}
#90 {background-color: blue;}
#Primera {background-color: red;}
#Segunda {background-color: blue;}

@media only screen and (max-width: 600px) {
  p {
    font-family: "Noto Serif", serif;
    color: white;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }

  .Historia {
    /* background-color: rgb(0, 56, 123); */
    font-family: "Noto Serif", serif;
    border: 2px solid rgb(0, 56, 123);
    border-radius: 0rem;
    margin: 0rem;
    width: 100%;
  }
  .video {
    width: 80%;
    height: auto;
  }
  .word {
    width: 100%;
    height: auto;
  }
}
</style>
