<template>
  <div class="Historia">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <br />
    <!-- <div v-if="$cookies.get('lang')== 'eu'">
      en euskera
      </div> -->
<div v-if="$cookies.get('lang')== 'es'">
    
      <h1>Historia de nuestro Club: Santutxu Hockey Taldea</h1></div>

    <div v-if="$cookies.get('lang')== 'eu'">
      
      
<h1>Gure Klubaren historia: Santutxu Hockey Taldea</h1></div>
    <br />
    <!-- menu para diferentes textos-->
    <div class="menu_historia">
 </div>
 

  <tabs @changed = " tabChanged ">
    
    <tab title="Antecedentes" active="true">
      
      <div v-if="$cookies.get('lang')== 'es'">
      <br />Antecedentes del Santutxu Hockey Taldea
     <p>La Sociedad Anónima Echevarría, junto a su fábrica de Bilbao en el actual parque del mismo nombre, tenía unas instalaciones deportivas donde había un par de frontones, una pequeña bolera, un campo de tenis y un bar. Posteriormente, sobre ese campo de tenis se construyó una pista de hockey. El Club Deportivo Echevarría - ECHESA C.D. tenía varias secciones entre ellas ajedrez, baloncesto, balonmano, fútbol, hockey sobre patines, atletismo, lucha, montaña y pelota vasca compitiendo en torneos contra otras empresas y en las distintas competiciones ligueras. La sección de hockey comenzó a competir en 1959 con un equipo juvenil formado por aprendices de la fábrica Echevarría. Ellos jugaron en esta pista aproximadamente tres años. Posteriormente, se trasladaron a la llamada pista de Basarrate o Etxebarria.<br>

En 1954 la mencionada empresa comenzó a construir para sus trabajadores una barriada de 890 viviendas en tres fases en la manzana 658 del ensanche de Begoña, ubicada entre las actuales calles Albacete, Iturriaga, Juan de la Cosa y Luis Luciano Bonaparte, además de la plaza interna Felipa Zuricalday. En los patios de las mismas había una pista deportiva, situada en la actual plaza Federico de Etxebarria, con gradas y tres vestuarios. En ella, además de hockey, se practicaba el balonmano y baloncesto. Debido a ello se le denominaba la pista de Etxebarria. No obstante, era también conocida como pista de Basarrate o la gran ¨catedral¨ del hockey vasco.<br>

<br /><img src="@/assets/historia/antecedentes_1.jpg" alt="club" style="width:650px"><br />
El primer equipo estuvo formado por Antolín Pujana (portero), Antonio Robles, Bartolomé Guzmán, Diotinio Pacios, José Ovejas, Javier Lorenzo, José Miguel Robles (Txato) y José Felix Pujana. El entrenador era César González y el delegado Elías. El 24 de abril de 1960 <br>jugaron el Campeonato de España clasificándose en el anteúltimo puesto.<br>

En la temporada 1961-1962 clasificados en mitad de la tabla y aspirando a mejorar en la campaña siguiente obtuvieron el Premio a la Deportividad. Los equipos de Bizkaia que formaban la competición eran: Jabones El Abra, Altos Hornos de Vizcaya, Iberduero, Landatxueta, Jolaseta y Echevarría. <br />En el año 1961 se formó el equipo senior con los hermanos Víctor y José Luis Candaudap entre otros, además de algún componente del juvenil con la edad precisa.<br>
En la campaña 1962-1963, los mayores se clasificaron en segunda posición, pasando a participar en los Campeonatos del Norte de España. Disponiendo ya del complejo deportivo de Basarrate, participaron en los Campeonatos Nacionales del Norte de España celebrados en las instalaciones de Basarrate y Zaragoza. Los equipos competidores fueron por Bizkaia: Jabones El Abra (campeón de Bizkaia) y C.D. Echevarría (subcampeón); por Zaragoza: Tritones (campeón) y Helios (subcampeón); por Navarra: San Antonio (campeón) y Oberena (subcampeón); por Gipuzkoa: San Sebastián y Universitario. Los días 16 y 17 de febrero en Zaragoza se celebraron los siguientes partidos: CD Echevarría 2 - Tritones 2; Jabones El Abra 3 - Tritones 1; CD Echevarría 0 - Helios 4; Jabones El Abra 3 - Helios 3. Los días 23 y 24 de febrero en la pista de Basarrate se jugaron los partidos entre representantes de Bizkaia y Gipuzkoa, cuyos resultados fueron: CD Echevarría 3 - Real Sociedad 4; Universitarios 5 - CD Echevarría 5. Al final del campeonato nuestro equipo se clasificó en quinto lugar
proclamándose Campeón del Norte de España el equipo vizcaíno Jabones El Abra, el cual jugó la fase final del Campeonato de España en nuestra pista de Basarrate.<br>
<br /><img src="@/assets/historia/antecedentes_2.jpg" alt="club" style="width:650px">
<br />La temporada siguiente comenzamos ganando al Iberduero 14-1 y perdiendo 7-4 frente a jabones El Abra. La Federación Española impuso en 1964 novedades en las categorías de la Competición: se denominaron con la palabra senior en todos los equipos de España a los jugadores de más de 18 años y la de junior a los juveniles. <br>


La temporada 1964-1965, el equipo juvenil tuvo buena actuación habiendo ganado a los favoritos. Los integrantes de este equipo eran Illera (portero), Sesma, Puente, Echaniz, Zorrilla, Nieto, Oyarzabal y Ortega. Hasta el presidente de la Federación Nacional, en su visita a Bilbao se congratuló de nuestras instalaciones deportivas de Basarrate. Finalizada la temporada 1964-65 obtuvieron tanto los senior como los junior sendas copas como subcampeones. Además de la del 1º de mayo en los Juegos de Educación y Descanso así como la Copa de Bizkaia. El equipo junior en las competiciones de Oviedo ante equipos de Asturias, Galicia y Salamanca recibieron felicitaciones por su buena competición cuando a priori eran las víctimas dispuestas a soportar la goleada. Ganaron al Salamanca y perdieron por la mínima en los últimos segundos los otros dos partidos.<br>

En la temporada 1965-1966 nuestro objetivo fue el subcampeonato ya que era difícil quitar el primer puesto a Jabones El Abra, por lo que nos medimos con el Altos Hornos para nuestros intereses. Al final, quedamos en tercer lugar del Trofeo provincial y se perdió la ocasión de jugar la fase regional, que solo jugaron los dos primeros. Sin embargo, ambos equipos conquistaron el trofeo Federación.<br>

A finales del año 1967 se renueva en el cargo de delegado al Sr. Sesma. La temporada 1967-1968 el equipo senior compite en Categoría Nacional. Para finales de 1969 el equipo atraviesa por un bache de juego. Las ausencias definitivas de los hermanos Pujana, verdaderos pilares del juego, han influido en la marcha del equipo.<br>

En la temporada 1970-1971 se prescindió del equipo junior. Ante la falta de incorporaciones de jugadores a duras penas se mantiene el senior.<br>

En la temporada 1971-1972, ante el poco ambiente de la provincia para mantener un torneo digno, la Federación Española creó la segunda división de Liga Nacional, en cuyo grupo II participamos <br />contra los clubs de Santander y Asturias.<br>

La temporada 1972-1973 seguimos navegando en la zona media. En los campeonatos de la zona Norte obtuvimos una buena clasificación teniendo en cuenta la gran categoría del hockey que se practicaba en Asturias. La sección de hockey patines del CD Echevarría se mantuvo hasta esa temporada 1976-1977, cuando debido a la crisis que sufría la empresa, dejó de subvencionar algunas de sus secciones deportivas.<br>
Hay que aclarar que aparte del equipo senior de la Sociedad Echevarría del que hemos hablado hasta ahora, existieron desde aproximadamente 1966 dos equipos en las categorías de infantil y juvenil bajo el patrocinio de la Cooperativa Echevarría.
<br />
<br />

</p></div>
      
      <div v-if="$cookies.get('lang')== 'eu'">
        <br />Santutxu Hockey Taldearen aurrekariak:
      <p><br />Echevarria Sozietate Anonimoak, izen bereko parkeko bere Bilboko fabrikaren ondoan, kirol instalazio batzuk zituen, non frontoi pare bat, bolatoki txiki bat, tenis zelai bat eta taberna bat zeuden. Ondoren, tenis zelai horren gainean hockey pista bat eraiki zen. Club Deportivo Echevarría - ECHESA C.D. elkarteak hainbat atal zituen, besteak beste, xakea, saskibaloia, eskubaloia, futbola, patinen gaineko hockeya, atletismoa, borroka, mendia eta euskal pilota beste enpresa batzuen aurkako txapelketetan eta liga lehiaketetan. Hockey saila 1959an hasi zen lehiatzen Echevarría fabrikako ikastunez osatutako gazte talde batekin. Pista honetan jokatu zuten hiru urte inguru. Ondoren, Basarrateko edo Etxebarriako pistara joan ziren.
<br />1954an, enpresa horrek 890 etxebizitza eraiki zituen bere langileentzat, hiru fasetan, Begoñako zabalguneko 658 etxadian, egungo Albacete, Iturriaga, Juan de la Cosa eta Luis Luciano Bonaparte kaleen artean, baita Felipa Zuricalday barne-plaza ere. Patioetan kirol-pista bat zegoen, egungo Federico Etxebarria plazan, eta harmailak eta hiru aldagela zituen. Bertan, hockeyaz gain, eskubaloia eta saskibaloia praktikatzen ziren. Horregatik deitzen zi-tzaion Etxebarriako pista. Hala ere, Basarrateko pista edo euskal hockeyko katedral handia bezala ere ezagutzen zen.<br />Lehen taldea Antolin Pujana (atezaina), Antonio Robles, Bartolome Guzman, Diotinio Pacios, Jose Ovejas, Javier Lorenzo, Jose Miguel Robles (Txato) eta Jose Felix Pujanak osatu zuten. Entrenatzailea Cesar Gonzalez zen eta tale-ordezkaria Elias. 1960ko apirilaren 24an Espainiako Txapelketa jokatu zuten, azkenaurreko postuan sailkatuz.
<br /><br /><img src="@/assets/historia/antecedentes_1.jpg" alt="club" style="width:650px">
<br />1961-1962 denboraldian, sailkapenaren erdian sailkatuta eta hurrengo denboraldian hobe-tzeko asmoz, Kiroltasunaren Saria lortu zuten. Bizkaiko taldeak hauek ziren: Jabones El Abra, Altos Hornos de Vizcaya, Iberduero, Landatxueta, Jolaseta eta Echevarría. 1961ean seniorren taldea sortu zen, Victor eta Jose Luis Candaudap anai-arrebekin, besteak beste, eta baita gazteenen taldekoren bat ere, beharrezko adinarekin.<br />1962-1963 denboraldian, nagusiak bigarren postuan sailkatu ziren, Espainiako Iparraldeko Txapelketetan parte hartuz. Dagoeneko Basarrate kirolgunea zegoela, Basarrate eta Zaragozako instalazioetan ospatu ziren Espainiako Iparraldeko Txapelketa Nazionaletan parte hartu zuten. Talde lehiakideak Bizkaian: Jabones El Abra (Bizkaiko txapelduna) eta C.D. Echevarria (txapeldunordea); Zaragozan: Tritones (txapelduna) eta Helios (txapeldunordea); Nafarroan: San Antonio (txapelduna) eta Oberena (txapeldunordea); Gipuzkoan: Donostia eta Unibertsitarioa. Otsailaren 16an eta 17an Zaragozan honako partidak jokatu ziren: CD Echevarría 2 - Tritones 2; Jabones El Abra 3 - Tritones 1; CD Echevarría 0 - Helios 4; Jabones El Abra 3 - Helios 3. Otsailaren 23an eta 24an jokatu ziren Basarrateko pistan Bizkaiko eta Gipuzkoako ordezkarien arteko partidak, eta emaitzak hauek izan ziren: CD Echevarría 3 - Real Sociedad 4; Universitarios 5 - CD Echevarría 5. Txapelketaren amaieran gure taldea bosgarren postuan sailkatu zen<br />Jabones El Abra talde bizkaitarra izan zen Espainiako Iparraldeko txapelduna, eta Basarrateko pistan jokatu zuen Espainiako Txapelketako azken fasea.
<br />Hurrengo denboraldian Iberduero 14-1 mendean hartu eta 7-4 galdu genuen El Abraren aurka. Espainiako Federazioak, 1964an, berritasunak ezarri zituen Lehiaketaren kategorietan: Espainiako talde guztietan senior hitza jarri zieten 18 urtetik gorako jokalariei eta junior hitza gazteei. 
<br /><img src="@/assets/historia/antecedentes_2.jpg" alt="club" style="width:650px"><br />1964-1965 denboraldian, gazteen taldeak ondo jokatu zuen, faboritoei irabaziz. Talde honetako kideak Illera (atezaina), Sesma, Puente, Echaniz, Zorrilla, Nieto, Oyarzabal eta Ortega ziren. Federazio Nazionaleko presidentea ere pozik agertu zen Basarrateko gure kirol instalazioekin. 1964-65 denboraldia amaituta, seniorrek eta juniorrek kopa bana lortu zuten txapeldunorde gisa. Maiatzaren 1ekoaz gain, Hezkuntza eta Atseden Jokoetan eta Bizkaiko Kopan. Oviedoko lehiaketetan, Asturiasko, Galiziako eta Salamancako taldeek zorionak jaso zituzten euren lehiaketa onagatik, a priori jipoia jasateko prest zeudenean. Salamancari irabazi zioten eta azken segundoetan beste bi partidak galdu zituzten.<br />1965-1966 denboraldian helburua txapeldunordea izatea izan zen, zaila baitzen Jabones El Abrari lehen postua kentzea, eta beraz, bigarren postua lortzeko Altos Hornos taldeari aurre egin behar zioten. Azkenean, hirugarren postuan geratu ziren Sari Probintzialean eta erregional fasea jokatzeko aukera galdu zen, lehen biak bakarrik aritu zirelarik. Hala ere, bi taldeek Federazio trofeoa eskuratu zuten.<br />1967. urtearen amaieran, ordezkari kargua berritu zitzaion Sesma jaunari. 1967-1968 denboraldian senior taldeak maila nazionalean jokatzen du. 1969. urtearen amaierarako, taldeak garai zailak bizi ditu. Pujana anaien behin betiko hutsuneek, jokoaren benetako zutabeek, eragina izan dute taldearen martxan.<br />1970-1971 denboraldian junior taldea alde batera utzi zen. Jokalari gutxiren faltan, seniorrak bere horretan jarraitzen du.<br />1971-1972 denboraldian, txapelketa duin bat mantentzeko probintziako giro eskasaren aurrean, Espainiako Federazioak Liga Nazionaleko bigarren maila sortu zuen, horren II. multzoan Santander eta Asturiasko kluben aurka parte hartuz.<br />1972-1973 denboraldian erdialdean nabigatzen jarraitzen dute. Iparraldeko txapelketetan sailkapen ona lortu zuten Asturiasen egiten zen hockeyaren maila handia kontuan hartuta. CD Echevarríako patinen hockey saila 1976-1977 denboraldira arte mantendu zen, enpresak pairatzen zuen krisiaren ondorioz, bere kirol atal batzuk diruz laguntzeari utzi ziona.<br />Argitu behar da orain arte aipatu dugun Echevarría Elkarteko senior taldeaz gain, 1966tik aurrera gutxi gorabehera bi talde egon zirela ume eta gazte kategorietan Echevarría Kooperatibaren babespean.
<br />
</p></div>

    </tab>
    <tab title="Creación del Club">

      <div v-if="$cookies.get('lang')== 'es'">
      <br />Creación del Club de Hockey Santutxu
<p><br />
<img src="@/assets/historia/creacion del club_1.jpg" alt="club" style="width:650px">
<br />Las categorías inferiores se mantuvieron dentro de la Cooperativa Echevarría durante unos tres años más. Sin embargo, como consecuencia del cese de las ayudas por parte de la empresa se crea el Santutxu. Desde la temporada 77-78 hasta la 80-81 juega en segunda nacional contra equipos como el Jolaseta, Landatxueta, Ingenieros… En la temporada 1978-1979 quedan segundos y no logran el ascenso en la fase jugada en Santander. Sin embargo, en la temporada 1980-1981 bajo la batuta de José Ramón Bustillo tras quedar primeros, el club sube a primera división gracias al empeño de Dimas Caballero para ir a jugar el ascenso a Puenteareas (Galicia) y al patrocinio de la Asociación de Comerciantes de Santutxu como se puede ver en la foto. Jugadores y directivos, teniendo como referencia que la Asociación de Comerciantes del Casco Viejo era el patrocinador del equipo de Hockey hielo, habían acudido a la Asociación de Comerciantes de Santutxu a pedir ayuda para ir a jugar la fase de ascenso. La asociación accede y desde ese momento el nombre del club será: Asociación Comerciantes Santutxu. Unos años más tarde la asociación de comerciantes recibió la titularidad de las instalaciones.
<br /><img src="@/assets/historia/creacion del club_2.jpg" alt="club" style="width:650px">
<br /></P></div>

       <div v-if="$cookies.get('lang')== 'eu'">
        <br />Santutxu Hockey Kluba sortzea
    <p><br />
    <img src="@/assets/historia/creacion del club_1.jpg" alt="club" style="width:650px"><br />Beheragoko kategoriak Echevarría Kooperatibaren barruan mantendu ziren beste hiru urtez. Hala ere, enpresak laguntzak uztearen ondorioz, Santutxu sortu zen. 77-78 denboralditik 80-81 denboraldira bitartean Jolaseta, Landatxueta, Ingenineros… bezalako taldeen aurka bigarren mailan jokatzen du. 1978-1979 denboraldian bigarrenak geratu ziren eta Santanderren jokaturiko fasean ez dute igoera lortzen. Hala ere, 1980-1981 denboraldian, Jose Ramon Bustilloren gidaritzapean, taldea lehen mailara igo zen Dimas Caballerok Puenteareasera (Galizia) igotzeko egindako ahaleginari eta Santutxuko Merkatari Elkartearen babesari esker, argazkian ikus daitekeen bezala. Jokalariek eta zuzendariek, Alde Zaharreko merkatarien Elkartea izotz-hockeyko taldearen babeslea zela erreferentzia gisa hartuta, Santutxuko Merkatarien Elkartera jo zuten igoera-fasean jokatzeko laguntza eske. Elkartearen izena honako hau izango da: Santutxu Merkatarien Elkartea. Urte batzuk geroago, Merkatarien Elkarteak instalazioen titulartasuna jaso zuen.
<br /><img src="@/assets/historia/creacion del club_2.jpg" alt="club" style="width:650px">
<br />
</p></div>

</tab>   

    
    <tab title="Años 80">

    <div v-if="$cookies.get('lang')== 'es'">
      <br />Los años 80: los mejores años del club
    <br /><p>Los años 80 fueron los que más éxitos deportivos trajeron al Club, coincidiendo la época en la que se jugó en primera división. Tras el ascenso en la temporada 1980-1981, el club se mantendrá en esta categoría toda la década hasta que en 1990 desciende a la Zona Norte.
     
<br />El Santutxu es la referencia del hockey vasco. Como el equipo está en primera, se trae de fuera a un entrenador para afrontar el reto: el emblemático Peter Ibarretxe. Junto a jugadores canteranos como Kike Velasco, los hermanos Caballero, los hermanos Mendibil…  se van incorporando jugadores procedentes de otros equipos vizcaínos como Iñigo Vallejo o Victor Orrantia de Iberduero o Peru Smith, Joaquín Gandarias o Tirso Castro de Jolaseta, que al haber descendido su equipo de categoría pasan a jugar al Santutxu. Incluso jugadores catalanes como Francisco Sucarrés, Luis Navarro, Eduardo Zabalía que venían a Bilbao a hacer la mili y mantenían su afición y su forma física jugando en el Santutxu. Es la temporada 1984-1985, bajo la dirección de Jesús Elorduy cuando el Santutxu, alcanza su cénit quedando segundo de la categoría y estando a punto de llegar a la categoría superior, donde solo un único representante del hockey vasco ha logrado estar: Club Jolaseta (1981-82). El Santutxu iba el primero en la clasificación cuando le tocó jugar en casa contra el segundo clasificado: el Dominicos. Éste, a pesar del acuerdo de principio de liga en el que todos los equipos accedían a jugar en la pista descubierta de Basarrate, se negó y el partido se tuvo que jugar en Loyola. A pesar de que la afición se acercó a la pista de Indautxu, el Dominicos ganó el partido.

<br />En 1986 se crea la copa de Euskadi y allí el Santutxu triunfa un año tras otro. Si bien estos años fueron de éxito deportivo, siempre hubo una gran escollo: una pista de hockey en buenas condiciones. En esta época, las nuevas normas obligaron al equipo senior a jugar en campo cubierto, el gerente del club en aquel momento, Francisco Javier Arigita Bilbao solicitó al Ayuntamiento tanto en 1983 como en 1985 permiso para el cubrimiento de la pista de Basarrate. Como no se dio permiso para el cubrimiento, se tuvo que desplazar en la siguiente temporada 1985-1986 para las competiciones al campo de la Casilla de Bilbao y allí jugó durante cinco temporadas hasta la temporada 1989-1990. Hay que recordar que esta pista se inauguró con los campeonatos europeos de hockey sobre patines en mayo de 1967. Al cambiar de pista y dejar de jugar en el barrio, el equipo perderá el calor de su afición, ya que no toda ella se desplazaba a La Casilla para ver jugar a su equipo. No obstante, más de una vez en años anteriores ante la negativa de los equipos contrarios a jugar en la pista descubierta de Basarrate el Santutxu tiene que jugar fuera de su amada pista, incluso se tiene que desplazar a Castro “para jugar en casa”.  En esta misma época hubo también una propuesta de construcción de una pista nueva en lo que hoy es el centro cívico de Begoña, pero ese intento también fue infructuoso.

Por otro lado, al finalizar la temporada 1984-1985 el club dejó de depender de la asociación de comerciantes, y se crea una junta gestora compuesta por padres, familiares y aficionados. Esta se constituye oficialmente el 3 de marzo de 1986 y en septiembre de ese mismo año se celebra la primera asamblea donde se elegirá una Junta Directiva. Se produce entonces un cambio de denominación en el nombre del Club que pasa de ser la “Asociación de Comerciantes de Santutxu” a llamarse “Club de Hockey Santutxu”. La Asociación de Comerciantes de Santutxu cede el uso de la pista al nuevo club <br/>
siempre que sea para uso deportivo.
    <br /></p></div>

    <div v-if="$cookies.get('lang')== 'eu'">
      <br />80ko hamarkada: klubaren urterik onenak
      <p><br />80ko hamarkada izan zen Klubera arrakasta gehien ekarri zituena, lehen mailan jokatu zen garaian. 1980-1981 denboraldian gora egin ondoren, klubak hamarkada osoan maila horretan jarraituko du 1990ean Iparraldeko Zonara jaitsi zen arte.

Santutxu euskal hockeyaren erreferentzia da. Taldea lehen mailan dagoenez, kanpotik entrenatzaile bat ekarri du erronkari aurre egiteko: Peter Ibarretxe ospetsua. Harrobiko hainbat jokalarirekin batera Kike Velasco, Caballero anaiak, Mendibil anaiak Bizkaiko beste talde batzuetako jokalariak ere sartuko dira laurogeitan: Iñigo Vallejo eta Victor Orrantia (Iberduero) edo Peru Smith, Joaquin Gandarias eta Tirso Castro (Jolaseta), besteak beste. Baita Francisco Sucarrés, Luis Navarro eta Eduardo Zabalía bezalako jokalari katalanak ere, Bilbora soldaduska egitera etortzen zirenak eta Santutxun jokatzen zaletasun eta itxura fisikoari eusten ziotenak. 1984-1985 denboraldian, Jesus Elorduyren zuzendaritzapean, Santutxuk maila horretako bigarren postua lortu zuen, eta goi mailara iristear egon zen, non euskal hockeyaren ordezkari bakar batek lortu zuen egotea: Club Jolasetak (1981-82). Santutxu lehena zen sailkapenean eta etxean bigarren sailkatuaren aurka jokatzea egokitu zitzaion: Dominicos. Talde guztiek Basarrateko estali gabeko pistan jokatzea onartzen zuten liga hasierako akordioa izan arren, horrek ezezkoa eman zuen eta partida Loiolan jokatu behar izan zen. Zaleak Indautxuko pistara hurbildu baziren ere, Dominikosek irabazi zuen partida.
1986an Euskadiko kopa sortu zen, eta han Santutxuk arrakasta handia lortu zuen. Urte hauek kirol arrakastatsuak izan ziren arren, beti izan zen oztopo handi bat: hockey pista bat egoera onean. Garai hartan, arau berriek zelai estalian jokatzera behartu zuten senior taldea. Une hartan, Francisco Javier Arigita Bilbao klubeko gerenteak Basarrateko pista estaltzeko baimena eskatu zion Udalari 1983an eta 1985ean. Estalketarako baimenik eman ez zenez, hurrengo denboraldian, 1985-1986 denboraldian, Bilboko Casilla zelaira joan behar izan zen lehiaketetara, eta han jokatu zuen bost denboraldiz 1989-1990 denboraldira arte. Gogoratu behar da pista hau Europako patin hockey txapelketekin inauguratu zela 1967ko maiatzean. Pistaz aldatzean eta auzoan jokatzeari uztean, taldeak zaleen berotasuna galduko du, guztiak ez baitziren Casillara joaten bere taldea jokatzen ikustera Hala ere, aurreko urteetan behin biano gehiagotan Santutxuk bere pista maitetik kanpo jokatu behar du; adibidez, Castrora ere joan behar du "etxean jokatzeko". Garai berean, gaur egun Begoñako gizarte-etxea den horretan pista berri bat eraikitzeko proposamena ere egin zen, baina saiakera hori ere alferrikakoa izan zen.

Bestalde, 1984-1985 denboraldia amaitzean, kluba merkatarien elkartearen menpe egoteari utzi zion, eta guraso, senide eta zaletuek osatutako kudeaketa-batzorde bat sortu zen. Hau, ofizialki, 1986ko martxoak 3an eratu zen, eta, urte bereko irailean, Zuzendaritza Batzorde bat aukeratuko den lehen batzarra egin zen. Orduan, klubaren izena aldatu zen, eta "Santutxuko Merkatarien Elkartea" izatetik "Santutxuko Hockey Kluba" izatera igaro zen. Santu-txuko merkatarien Elkarteak klub berriari lagatzen dio pistaren erabilera, betiere kirol-erabilerarako bada.
</p></div>

</tab>
    <tab title="Años 90">

    <div v-if="$cookies.get('lang')== 'es'">
    <br />Los años 90: de cola de león a cabeza de ratón
    <p><br /><img src="@/assets/historia/años 90.jpg" alt="club" style="width:650px">
    <br /><br />Como hemos dicho en 1990 el Santutxu desciende a zona Norte. No obstante, en esa primera temporada quedó segundo, a pesar de ello en la fase de ascenso logra subir a primera. Estuvo dos temporadas en primera y en 1993 descendió a Zona Norte. El Santutxu ya no volverá a ascender a primera hasta hoy. No obstante, en esos años el Santutxu es el rey de la categoría quedando casi siempre tanto campeón en la liga de la zona Norte como en la copa de Euskadi. El Santutxu vuelve a su pista de Basarrate las temporadas que juega en la zona Norte y solo utiliza la pista del polideportivo de Txurdinaga cuando juega en primera división.
    <br />En estos años tenemos una nueva generación de jugadores que se había ido incorporando al equipo senior a finales de los ochenta. Está compuesta por José Anta, Josean Torrealday, Sergio García (Txoukas), Juan Ángel Martín, Aitor Arostegi, Andrés Trueba, Joseba Martín… entre otros.  Además, en esta década habría que destacar la generación de los nacidos en 1979 que antes de incorporarse al equipo senior dio muchas alegrías al Santutxu en las categorías inferiores. Aparte de ganar más de una vez la liga y la copa vizcaína y de Euskadi, logran grandes éxitos fuera de la comunidad. En 1992 se proclamaron subcampeones de la copa de España en categoría alevín; el mayor éxito conseguido por un equipo de la cantera en toda la historia del club. Posteriormente en 1996, tras ganar el Sector, consiguen el sexto puesto en el campeonato de España en categoría juvenil. Estos fueron algunos de los jugadores que participaron en los éxitos: Ander Elorduy, Haritz Irizar, Ander Ruiz, Ibai Zarraga, Unai Barrueta, Antxoka Sola, Arkaitz Garai, Jon Joseba Díez, Igor Anduix, Iker Saez de Guinoa…
    <br />En el segundo lustro de los noventa la mayoría de los jugadores coetáneos de José Anta excepto Aitor Arostegui irán abandonando el equipo senior y, a pesar del mote del primero “Nene”, se convertirá en el veterano del equipo complementado por esa brillante generación: Ander Elorduy, Ibai Zarraga, Iker Saez de Guinoa, Arkaitz Garai, Jon Joseba Díez…
    <br />
    </p></div>

    <div v-if="$cookies.get('lang')== 'eu'">
    <br />90eko hamarkada: lehoi isatsetik sagu burura
    <p><br /><img src="@/assets/historia/años 90.jpg" alt="club" style="width:650px">
    <br /><br />1990ean esan dugun bezala, Santutxu maila jaitsi zen eta Ipar aldeko ligan jokatzen hasi zen. Hala ere, lehen denboraldi horretan bigarren geratu zen arren, igoera fasean lehen mailara igotzea lortu zuen. Bi denboraldi eman zituen lehen mailan, eta 1993an Zona Norte-ra jaitsi zen. Santutxuk ez du berriz lehen mailara igoko gaur arte. Hala ere, urte horietan Santutxu da maila horretako erregea, eta ia beti Iparraldeko ligan zein Euskadiko Kopan txapeldun izaten da. Santutxu Basarrateko pistara itzultzen da Iparraldeko ligan jokatzen duen denboraldietan eta Txurdinagako kiroldegiko pista lehen mailan jokatzen duenean bakarrik erabiltzen du.
    <br />Urte hauetan jokalari belaunaldi berri bat daukagu, 80ko hamarkadaren amaieran senior taldean sartu zena. José Anta, Josean Torrealday, Sergio García (Txoukas), Juan Ángel Martín, Aitor Arostegi, Andrés Trueba, Joseba Martín, besteak beste. Gainera, hamarkada honetan azpimarratzekoa da 1979an jaiotakoen belaunaldia, seniorren taldean sartu aurretik Santutxuri poz asko eman baitzizkion beheko mailetan. Bizkaiko eta Euskadiko liga eta kopa behin baino gehiagotan irabazteaz gain, arrakasta handiak lortzen dituzte erkidegotik kanpo. 1992an Espainiako kopako txapeldunorde izendatu ziren alebin mailan, harrobiko talde batek klubaren historia osoan lortutako arrakastarik handiena. Ondoren, 1996an, Sektorea irabazi ondoren, Espainiako txapelketan seigarren postua lortu zuten gazteen mailan. Hauek izan ziren jokalari arrakastatsuetako batzuk: Ander Elorduy, Haritz Irizar, Ander Ruiz, Ibai Zarraga, Unai Barrueta, Antxoka Sola, Arkaitz Garai, Jon Joseba Diez, Igor Anduix, Iker Saez de Guinoa…
    <br />Laurogeita hamarreko hamarkadako bigarren bosturtekoan, Jose Antaren jokalari garaikide gehienak, Aitor Arostegui izan ezik, seniorren taldea uzten joango dira, eta, "Nene" lehenengoaren ezizena gorabehera, belaunaldi bikain horrek osatzen duen taldeko beteranoa izango da: Ander Elorduy, Ibai Zarraga, Iker Saez de Guinoa, Arkaitz Garai, Jon Joseba Díez.
    <br />
    </p></div>
    </tab>
    <tab title="Primera decada del Siglo XXI">

    <div v-if="$cookies.get('lang')== 'eu'">
    <br />XXI. mendeko lehen hamarkada: Santutxu Hockey Klubaren distira ez da itzaltzen
    <p><br /><br />Mendearen hasierarekin, Santutxuk euskal hockeyko punta-puntako taldea izaten jarraituko du, baina ez dio 90eko hamarkadako nagusitasunari eutsiko. Behin baino gehiagotan irabaziko du Iparraldeko Liga eta Euskadiko Kopa, baina ez aurreko hamarkadan bezain behin eta berriz.
    <br />2001eko denboraldiaren hasieran, senior taldeak Basarrateko pista utzi eta Txurdinagako kiroldegian jokatzen hasi zen. Azkenean, pista estali batean jokatuko dute berriro, eta, eguraldia dela eta, ez dute partida bat bertan behera utzi beharko. Dena den, partida bakoitzaren aurretik, pista muntatu beharra dago. Hala ere, beheko kategoriek asteburuetan joka-tzen eta astegunetan Basarrateko pistan entrenatzen jarraituko dute.
     <br />Santutxuko hamaikakoan Ander Elorduyren jokalari garaikide gehiago daude: Haritz Irizar, Antxoka Sola, Iker Viteri eta 80ko hamarkadaren hasieran jaiotako mutil talde bat: Angel Uriarte, Endika Eibar, Haitz Agirre, Bilintx Rayon... eta Mikel Prados, Ibaiondok (Donostia) fitxatu zuen atezain handia.
     <br />
     </p></div>

     <div v-if="$cookies.get('lang')== 'es'">
       <br />La primera década del siglo XXI: el brillo del Club de Hockey Santutxu no se apaga
       <p><br /><br />Con la entrada del siglo, el Santutxu se mantendrá como el equipo puntero del hockey vasco, pero ya no mantendrá la hegemonía de los años 90. Más de una vez ganará la liga de la Zona Norte y la copa de Euskadi, pero no tan reiteradamente como en la anterior década.
       <br />Al comienzo de la temporada 2001, el equipo senior abandona la pista de Basarrate y comienza a jugar en las instalaciones del polideportivo de Txurdinaga. Por fin, se vuelve a jugar en una pista cubierta debido a la normativa y no se tendrá que suspender un partido por las inclemencias del tiempo. No obstante, antes de cada partido, está el inconveniente de que hay que montar la pista. Sin embargo, las categorías inferiores seguirán jugando los fines de semana y entrenando entre semana en la pista de Basarrate.
       <br />A la alineación senior del Santutxu se incorporan más jugadores coetáneos de Ander Elorduy como Haritz Irizar, Antxoka Sola, Iker Viteri así como un grupo de chavales nacidos a principios de los 80: Angel Uriarte, Endika Eibar, Haitz Agirre, Bilintx Rayon... y Mikel Prados, gran portero que lo ficho el Ibaiondo (Donostia) para jugar en primera nacional.
       </p></div>
    </tab>
    <tab title="Segunda decada del Siglo XXI">

      <div v-if="$cookies.get('lang')== 'eu'"><br />
      XXI. mendeko bigarren hamarkada: Santutxu Hockey Klubaren gainbehera.
      <p><br /><br />Klubaren historian funtsezko gertaera bat dago, Udalarekin negoziazio luzeak izan ondoren, azkenean Bilbao Kirolakek hockey-pista bat eraikitzea lortu zen Txurdinagako kiroldegiaren instalazioen barruan. Aurretik, Udalak plaza eskatu zien auzokoei eta Santutxuko merkatarien Elkarteari, eta horiek udalari eman zioten. Negoziazio neketsuen ondoren, Bilboko Udalarekin hitzarmen bat egin zen, eta, horren bidez, Santutxu hockey taldeak Basarrateko pista maitearen erabileraz gozatzeari utzi zion. Pista hori Udalak herritar guztien gozamenerako plaza bihurtu zuen, eta Udalak 10 urtez utzi zion pista berriaren erabilera klubari. Pistaz gain, biltegi bat uzten zaio kiroldegiaren ondoan eta, bi urteren buruan, hockeyko jokalarientzat bakarrik diren aldagelak eraikitzen dira. Alde batetik, klubak estalitako pista moderno bat izango du, euskal hockeyko beste klub batzuen inbidia, patinetako botek zapatagilea bi hilean behin bisitatzeari utziko diote eta stick-ek askoz gehiago iraungo dute; bestetik, ez da izango pista zaharrak zuen erabilera-askatasuna, non norberak nahi zuen orduetan entrenatu eta jokatu ahal izango zuen; orain guztia Bilbao Kirolaken araudiaren pean egongo da. 2014ko apirilean, agur esango zaio Basarrate edo Etxebarriako pistari, non hainbeste igandetan hiriko hockeyrik onena bizi izan baitzen, agur-ekitaldi baten bidez  Bertan taldearen loria zaharretatik talde berrietaraino elkartuko dira.
      <br />Seniorren taldea gainbeheran sartu da eta emaitzak ez dira aurreko hamarkadetakoak. 2010ean, Jose Antak taldean jokatzeari utzi zion 20 urte baino gehiago seniorretan jokatu ondoren, pixkanaka jokalari askok taldea utzi zuten eta gutxi dira taldean sartu zirenak: Unai Rayon, Ikoitz Arrese, Ander Izquierdo, Aingeru Olano, Iurgi, Aitor Goikoetxea, Gorka Isasi, Asier Aretxabaleta, Jon Cosano…  Ander Elorduyk baino ez du jarraitzen; Santutxuko jokalari ezagunetako bat da zalantzarik gabe, ezen,1996-97 denboraldian seniorretan jokatzen hasi eta 2014ak arte jokatu zuen. Ordutik aurrera eta gaur egunera arte, seniorren entrena-tzailea izango da. Garai horretan Loiolako bi taldekide-ohi ditugu SHTan jokatzen: Julen Urdangarin eta Sergio Macías.
      <br />Lehen bosturtekoan, Javier Lusarreta Santutxuko entrenatzailea izango da, Urdanetatik etorritakoa, eta talde horretako jokalariak ekarri beharko ditu Santutxura: Mikel Calvo (Michel), Jesus San Juan (Txus), Iñigo Jimenez (Jimmy), Adrian Pagazaurtundua (Adri), Alvaro Elorriaga (Lalo), Javier Besga (Besga), Pablo Gonzalez (Pablito) Lusaz gain. Bigarren bosturtekoan, Santutxuko eta Urdanetako jokalari askok jokatzeari utzi ondoren, Santutxuk talde gazteegia du, eta jokalariak ere gehiegi txandakatzen dira: Endika Alfageme, Yeray Penas (Yeye), Unai Fernandez, Arkaitz Gentil, Hegoi Oleaga, Iker Serrano, Yeray Perez, Aketza García…
      <br />Klubak bere patinaje eskolan laurogeigarren hamarkadaren amaieratik neskak bazituen ere, ez ziren XXI. mendera arte hasi hockeyan: Uxue Otegi, Isturitze Aurrekoetxea... Hala ere, senior taldeak emakumezko entrenatzaile bat du 2009-10 eta 2010-11 denboraldietan: Susana Etxeandia. Taldeko jokalarien artean, beheko mailetatik nabarmentzen den jokalari bat dago, bere kategoriako atezaina izanik junior mailara arte, dagoen araudiaren ondorioz, ezin izango baitu senior taldean jokatu: Uxue Otegi. Hori dela eta, taldea utziko du emakumezkoen OK ligan jokatzeko CP Manlleun.
      <br /><br /><img src="@/assets/historia/segunda Decada.jpg" alt="club" style="width:650px">
      <br /><br />Seniorren taldea bere unerik onenean ez dagoen arren, beheko kategoriak apurka-apurka gero eta ugariagoak dira, kategoria bakoitzak bere taldea du eta horietako askok bi talde dituzte. Gero eta  ez ohikoagoa da jokalari batek astebururo partida bikoiztu behar izatea, goiko mailan ez baitago jokalari nahikorik. Arrakasta handiena Junior taldeak lortu zuen 2013-2014 denboraldian, Espainiako zortzigarren postuan geratu baitzen (Endika Alfageme, Yeray Penas (Yeye), Unai Fernandez, Arkaitz Gentil). Gainera, 1999an jaiotakoak nabarmentzen dira, kadete mailan Sektorera joango direnak, 2003koak  beti bigarrenak, bai Bizkaiko ligan, bai Euskal Herrikoan, eta 2008koak, oso txikiak izan arren, oraindik ere indartsu datozela nabaritzen baita eta klubaren palmaresa berriro distiraraziko dutela espero baita.
      <br />Ezin dugu klubaren historia amaitu klubeko handienetako bat aipatu gabe, aulkian egon arren ez du golik sartu, ezta geldiketa handirik egin ere, baina beti egon da Santutxurekin 20 urte baino gehiagoz: Edu Díez. Bera gabe, klubak ez luke hainbesteko mailarik izango.
      Aurten hasiko dugun hurrengo hamarkadan kluba euskal hockeyaren punta-puntako postuetara berriz eramatea espero dugu.
      <br /><br />Ahozko iturriak: José Felix Pujana, Iñaki Mendibil eta Javier Arigita
      Iturri idatziak: José Luis Korta, Luis Miguel Vázquez eta Jesús Manuel López: S.A. Echevarria; Bilboko Udal Artxiboa; komunikabideak: La Gaceta del Norte, El Correo, Deia, Egin eta Kiroldi; Santutxuko jaietako egitaraua.
      <br /></p></div>

      <div v-if="$cookies.get('lang')== 'es'"><br />
      La segunda década del siglo XXI: el declive del Club de Hockey Santutxu.
      <p><br /><br />Hay un acontecimiento esencial en la historia del Club, tras largas negociaciones con el Ayuntamiento por fin se consigue la construcción de un pista de hockey por parte de Bilbao Kirolak dentro de las instalaciones del polideportivo de Txurdinaga. Previamente el ayuntamiento había pedido a los vecinos y a la Asociación de Comerciantes de Santutxu la plaza y estos se la dieron al ayuntamiento. Tras arduas negociaciones, se hace un convenio con el ayuntamiento de Bilbao mediante el cual el club de hockey Santutxu deja de disfrutar del uso de su amada pista de Basarrate que es reconvertida en una plaza para disfrute de todos los ciudadanos por parte del ayuntamiento y éste cede el uso de la nueva pista durante 10 años al Club. Además de la pista, se le deja un almacén junto al polideportivo y, al cabo de dos años, se construye unos vestuarios exclusivos para los jugadores de hockey. Por un  lado, el Club dispondrá de una pista moderna cubierta que es la envidia de otros clubs del hockey vasco, las botas de los patines dejarán de visitar el zapatero cada dos meses y los sticks durarán mucho más; por otro lado, ya no se dispondrá de la libertad de uso que tenía la pista vieja donde se podía entrenar y jugar a las horas que uno quisiera, ahora todo estará bajo la normativa de Bilbao Kirolak. En abril de 2014 se dirá adiós a la pista de Basarrate o Etxebarria donde tantos domingos se había vivido el mejor hockey de la villa, mediante un acto de despedida donde se juntarán desde viejas glorias del equipo hasta las nuevas incorporaciones.
      <br />El equipo senior entra en declive y los resultados del mismo no tienen nada que ver con los de las décadas anteriores. En 2010 José Anta deja de jugar en el equipo después de más de 20 años jugando en el equipo senior, poco a poco muchos jugadores abandonan el equipo y son pocos los que se incorporan: Unai Rayon, Ikoitz Arrese, Ander Izquierdo, Aingeru Olano, Iurgi, Aitor Goikoetxea, Gorka Isasi, Asier Aretxabaleta, Jon Cosano,… Solo se mantiene en el equipo Ander Elorduy, que sin duda es uno de los jugadores emblemáticos del Santutxu, tras comenzar a jugar en los seniors en la temporada 1996-97 no deja de jugar en el club hasta 2014. A partir de esa fecha y hasta la actualidad será el entrenador del senior. En esa época tenemos dos incorporaciones del Loyola: Julen Urdangarin y Sergio Macías.
      <br />En el primer lustro, Javier Lusarreta será el entrenador del Santutxu, jugador procedente del Urdaneta tendrá que traer jugadores de su anterior equipo para poder completar el Santutxu: Mikel Calvo (Michel), Jesús San Juan (Txus), Iñigo Jiménez (Jimmy), Adrian Pagazaurtundua (Adri), Álvaro Elorriaga (Lalo), Javier Besga (Besga), Pablo González (Pablito) además de Lusa.  En el segundo lustro tras dejar de jugar muchos de estos jugadores tanto del Santutxu como de los provenientes de Urdaneta, el Santutxu dispone de un equipo excesivamente joven donde los jugadores también van rotando en exceso: Endika Alfageme, Yeray Penas (Yeye), Unai Fernández, Arkaitz Gentil, Hegoi Oleaga, Iker Serrano, Yeray Pérez, Aketza García… 
      <br />Si bien el club en su escuela de patinaje tenía chicas ya desde finales de los ochenta, no es hasta el siglo XXI cuando las primeras se incorporan a la práctica del hockey: Uxue Otegi, Isturitze Aurrekoetxea… sin embargo, el equipo senior tiene una entrenadora femenina las temporadas 2009-10 y 2010-11: Susana Etxeandia. Entre las jugadoras del club hay una que destaca desde las categorías inferiores siendo la portera de su categoría hasta junior ya que debido a la normativa existente no podrá jugar en el equipo senior: Uxue Otegi. Por ese motivo dejará el equipo para poder jugar en la OK liga femenina en el CP Manlleu.
      <br /><br /><img src="@/assets/historia/segunda Decada.jpg" alt="club" style="width:650px">
      <br /><br />A pesar de que el equipo senior no está en sus mejores momentos, las categorías inferiores poco a poco se van haciendo más copiosas, cada categoría tiene su equipo propio e incluso muchas de ellas disponen de dos equipos. Cada vez es menos frecuente que un jugador tenga que doblar partido cada fin de semana porque en la categoría superior no hay jugadores suficientes. El éxito más grande lo consiguió el equipo junior en la temporada 2013-2014 al quedar octavos de España (Endika Alfageme, Yeray Penas (Yeye), Unai Fernández, Arkaitz Gentil…). Además, destacan los nacidos en 1999 que en categoría cadete irán al Sector, los del 2003 eternos segundones tanto en la liga vizcaína como luego en la vasca y los del 2008 que aunque son muy pequeños todavía se nota que vienen con fuerza y se espera que vuelvan a hacer brillar el palmarés del club.
      <br />No podemos terminar la historia del club sin citar a uno de los más grandes del club, a pesar de estar en el banquillo no ha metido ningún gol, ni ha hecho grandes paradas, pero siempre ha estado acompañando al Santutxu durante más de 20 años: Edu Díez. Sin él, el club no tendría tanta categoría.
      <br />Esperamos que la siguiente década que comenzamos este año lleve al Club a las posiciones punteras del hockey vasco.
      <br /><br />Fuentes orales: José Felix Pujana, Iñaki Mendibil y Javier Arigita
      Fuentes escritas: S.A. Echevarria por José Luis Korta, Luis Miguel Vázquez y Jesús Manuel López; Archivo municipal de Bilbao; Medios de comunicación: La Gaceta del Norte, El Correo, Deia, Egin y Kiroldi; programa de fiestas de Santutxu.
      <br /></p></div>

      </tab>
</tabs>
</div>
</template>

<script>

import { Tabs, Tab } from 'vue-simple-tabs';

  export default {
    components: { Tabs, Tab }
  };
</script>

<style >

p {
  font-family: "Noto Serif", serif;
  font-size: 20px;
  color: white;
  align-content: center;
  text-align: center;
  padding-left: 8%;
  padding-right: 8%;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 1%;
  margin-inline-end: 0px;
}
h1 {
  font-family: "Noto Serif", serif;
  font-size: 40px;
  color: white;
}

.Historia {
  background-color: rgb(0, 56, 123);
  border: 0px solid rgb(233, 13, 24);
  font-family: "Noto Serif", serif;
  font-size: 30px;
  align-content: center;
  text-align: center;
  color: white;
  border-radius: 0rem;
  margin: 0rem;
  width: 100%;
  margin-top:55px;
}

.Historia li  {
  color:white;
  padding-right: 50px;
  padding-left: 80px;
  margin-top:55px;
}
.Historia li.active {
  color:red;
  font-weight: bold;
}
.contenedor_video {
  text-align: center;
}
.video {
  width: 85vw;
  height: 80vh;
}
.word {
  width: 85vw;
  height: 80vh;
}
.menu_historia{
   padding: 0;
 
   font-family: "Noto Serif", serif;
   font-size: 10px;
   margin: 2%;
}
.menu_historia li{
  display: inline;
  margin:2%;
}
.menu_historia li a:hover {
 background-color: rgb(228, 13, 13);
 margin-top: -2;
 padding-bottom: 5px;
 }
 img {
  width: 650;
  height: auto;
}
#historia {
  width: 650;
  height: auto;
}
@media only screen and (max-width: 600px) {
  p {
    font-family: "Noto Serif", serif;
    color: white;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }

  .Historia {
    /* background-color: rgb(0, 56, 123); */
    font-family: "Noto Serif", serif;
    border: 2px solid rgb(0, 56, 123);
    border-radius: 0rem;
    margin: 0rem;
    width: 100%;
  }
  .video {
    width: 80%;
    height: auto;
  }
  .word {
    width: 100%;
    height: auto;
  }
}
</style>
