<template>
  <div class="Patrocinadores">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <h3></h3>
    <carousel
      :per-page="1"
      :navigate-to="some - local - property"
      :mouse-drag="false"
      :autoplay="true"
      :autoplay-direction="forward"
      :paginationEnabled="false"
      :loop="true"
      :data="publicidad"
    >
      <slide v-for="(item, index) in publicidad" :key="index">
        <div>
          <img :src="item" />
        </div>
      </slide>
    </carousel>

    <p align="center"></p>
  </div>
</template>

<script>
import patrocinadoresClub from "@/patrocinadoresClub.js";
import { Carousel, Slide } from "vue-carousel";

export default {
  name: "Carrussel",
  components: {
    Carousel,
    Slide
  },
  data() {
    return {
      i: 0,
      publicidad: patrocinadoresClub.patrocinadores
    };
  },
  computed: {
    publi: function() {
      return this.publicidad[this.i];
    }
  },
  mounted() {
    this.onLoadPage();
  },
  methods: {
    nuevaFoto() {
      this.i = 1;
    },
    onLoadPage() {}
  }
};
</script>

<style scoped>
.Patrocinadores {
  /* border: 2px solid rgb(0, 56, 123); */
  border-radius: 0rem;
  font-family: "Noto Serif", serif;
  font-size: 18px;
  color: rgb(0, 56, 123);
  margin: 0%;
  width: 60%;
  height: auto;
}
img {
  width: auto;
  height: 16vw;
  margin-left: 19vw;
}

@media only screen and (max-width: 600px) {
  .Patrocinadores {
    background-color: white;
    border-radius: 0rem;
    font-family: "Noto Serif", serif;
    font-size: 12px;
    color: white;
    margin: 0%;
    width: 50%;
    height: auto;
  }
  img {
  width: auto;
  height: 16vw;
  margin-left: 19vw;
}

}
</style>
