<template>
  <div class="Partidos">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   
<div v-if="$cookies.get('lang')== 'es'">
      <h1>Partidos de la semana</h1>
      </div>
    
<div v-if="$cookies.get('lang')== 'eu'">
    <h1>Asteko partidak</h1>
      </div>


    
    <p>
      <br />
      <br />

      <iframe
        class="excel"
        src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRPRQoI1wOR9NSN61WqyC7Bk338x5m4j3wRBlLlnjMOx3hVkglWxiJOe-mkU2rtcA/pubhtml?gid=1565426860&amp;single=true&amp;widget=true&amp;headers=false"
      ></iframe>
      <br />
     
    </p>
     <div class="enlaces_inform">

     <a class="rfep" href="http://www.irristaketa.org/publico/home.asp?idioma=ca" target="blank">
        <img src="@/assets/logos/ftbp.png" alt="ftbp" />
      </a>
      
      <a class="fep" href="https://fep.es/website/index.asp" target="blank">
        <img src="@/assets/logos/rfep-txt.jpg" alt="rfeps" />
      </a>
   
      <a class="fvp" href="http://fvpatinaje.eus" target="blank">
        <img src="@/assets/logos/logo.png" alt="fep" />
      </a> </div>
      <br>
  </div>
</template>

<script>
export default {
  name: "Partidos"
};
</script>

<style scoped>
.Partidos {
  background-color: rgb(0, 56, 123);
  border: 2px solid rgb(0, 56, 123);
  font-family: "Noto Serif", serif;
  font-size: 30px;
  align-content: center;
  text-align: center;
  color: white;
  border-radius: 0rem;
  margin: 0rem;
}

.excel {
  width: 55vw;
  height: 45vw;
  align-content: center;
  text-align: center;
}
.enlaces_inform {
  font-family: "Noto Serif", serif;

  border: 2px;
  color: rgb(0, 56, 123);
 
  text-align: center;
  align-content: flex-end;
  padding-right: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-right: 10px;
  padding-bottom: 0rem;
  padding-top: 0rem;
}
.fvp img{
   /*border: 1px solid rgb(228, 13, 13);*/
   border-radius: 5px;
   margin-left: 10px;
   margin-right: 10px;
   padding-bottom: 0rem;
   padding-top: 0rem;
}
.rfep img{
   border: 1px solid rgb(228, 13, 13);
   border-radius: 5px;
   margin-left: 10px;
   margin-right: 10px;
   padding-bottom: 0rem;
   padding-top: 0rem;
}

.fep img{
 /*border: 1px solid rgb(228, 13, 13);*/
   border-radius: 5px;
   margin-left: 10px;
   margin-right: 10px;
   padding-bottom: 0rem;
   padding-top: 0rem;
}
img {
  width: auto;
  height: 50px;

}

/* h1 {
  font-family: "Noto Serif", serif;
  font-size: 30px;
  /*color: rgb(0, 56, 123);
  color: white;
} */

@media only screen and (max-width: 600px) {
  .Partidos {
    background-color: rgb(0, 56, 123);
    border: 2px solid rgb(0, 56, 123);
    font-family: "Noto Serif", serif;
    font-size: 10px;
    text-align: center;
    border-radius: 0%;
    margin: 0%;
  }

  .excel {
    width: 100%;
    height: 100%;
  }
}
</style>
