<template>
  <div class="Home">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <div class="Titulo">
      <h1>SANTUTXU HOCKEY TALDEA</h1>
      <h2>www.santutxuht.eus</h2>
    </div>

    <!--aquí pondremos la foto anual-->
    <img class="anual" src="@/assets/FotoAnual.jpg" alt="Foto Anual Del Club" />

    <div v-if="$cookies.get('lang')== 'eu'">
     
      <!--  <div v-if="$cookies.get('lang')== 'es'">
          en castellano
      </div>-->
      <p align="center">
        <br />SARRERA:
        <br />Ongi etorri Santutxu Hockey Taldearen web orrialdera.
        Zure eskura izango duzu gure taldearen inguruko hainbat informazio.
        <br />Jakin beti izan dugula Santutxutartasuna oso errotuta, ahal izan
        dugun neurrian parte hartu izan dugu, hartzen dugu eta hartuko dugu auzoan
        egiten diren hainbat ekintzatan. Harreman hurbila izaten saiatzen gara
        bertako eragile eta taldeekin eta badakizue gure ateak beti egongo direla
        zabalik. Zer esanik ez auzoko komertzio eta tabernek lagundu eta bultzatu
        gaituztela betidanik gure ibilbidean. Mila esker zuen laguntzagatik!
        <br />Kirol talde handi hau pertsona anitz eta koloretsuak osatzen dugu,
        hainbat eskolatako umeen elkargunea delarik. Guztion helburua patinatzen
        disfrutatzea eta Hockeyan lagunekin gozatzea da. Patin eskolatik
        beteranoen taldera, bazkide eta zaleengandik familietara, talde
        ordezkariengandik zein lan taldeetatik zuzendaritza batzordera…gutariko
        bakoitzak TALDE hau aurrera, biraka, daramagun gurpilak gara!
        <br />AUPA
        ZUEK!
        <br />Auzotik sortu eta auzoan bizi garelako,
        <br />GORA SANTUTXU
        HOCKEY TALDEA!
        <br />Patin on guztioi!
        <br />
      </p>
    </div>
    <!--   <div v-if="$cookies.get('lang')== 'eu'">en euskera</div> -->
    <div v-if="$cookies.get('lang')== 'es'">
      
      <br />

      <p align="center">
        <br />Bienvenidos a la página web del Santutxu Hockey
        Taldea. En ella tendrás a tu disposición información sobre nuestro Club.
        <br />Siempre hemos tenido muy arraigado el sentimiento Santutxuarra y
        hemos participado en la medida de lo posible en las diferentes
        <br />actividades que se llevan a cabo en el barrio. Intentamos mantener una relación
        cercana con los agentes y grupos locales
        <br />y sabéis que nuestras puertas siempre estarán abiertas para vosotros.
        <br />No podemos olvidar que los comercios y bares del barrio nos han ayudado e impulsado desde siempre en nuestro recorrido.
        <br />¡Gracias por vuestra colaboración!
        <br />Este gran Club deportivo lo formamos muchas personas de diferentes gustos y aficiones que
        tenemos en común nuestra pasión
        <br />por el hockey. El objetivo de todos es
        disfrutar patinando y disfrutar con nuestros amig@s en la práctica de este
        apasionante deporte.
        <br />Desde los niñ@s de la escuela de patines al grupo de
        veteranos, desde los soci@s y aficionad@s a las familias, de los delegad@s
        <br />y grupos de trabajo a la junta directiva … cada un@ de nosotr@s somos las
        ruedas que, girando, llevamos adelante este Club.
        <br />¡Gracias a tod@s!
        <br />Porque surgimos del barrio y vivimos en el barrio,
        <br />¡GORA SANTUTXU HOCKEY TALDEA!
        <br />¡Buen patín a todos!
        <br />
        <br />
      </p>
    </div>
    <div class="contenedor_video">
      <iframe
        class="video"
        src="https://drive.google.com/file/d/1BrZ8d5Z-uCAV960MiRuRb8q1N9pqK2w7/preview"
        width="850"
        height="550"
      ></iframe>
    </div>

    <br />
    <br />
  </div>
</template>

<script>
export default {
  name: "Home"
};
</script>

<style scoped>
.Home {
  background-color: rgb(0, 56, 123);
  border: 0px solid rgb(0, 56, 123);
  border-radius: 0rem;
  margin: 0px;
  width: 100%;
}

.Titulo {
  background-color: rgb(0, 56, 123);
  border: 2px solid rgb(0, 56, 123);
  border-radius: 0rem;
  margin: 0px;
  /* width: 100%; */
}
h1 {
  width: 100%;
  font-family: "Noto Serif", serif;
  font-size: 12vh;
  color: white;
  align-content: center;
  text-align: center;
}

h2 {
  width: 100%;
  font-family: "Noto Serif", serif;
  font-size: 6vh;
  color: white;
  align-content: center;
  text-align: center;
}
.contenedor_video {
  text-align: center;
}
.video {
  width: 850px;
  height: 550px;
  text-align: center;
}
.anual {
  width: 100%;
  height: auto;
}

p {
  color: white;
  font-family: "Noto Serif", serif;
  font-size: 18px;
  padding-left: 40px;
  padding-right: 50px;
}
@media (orientation: landscape) {
}
@media only screen and (max-width: 600px) {
  .Home {
    background-color: rgb(0, 56, 123);
    /* border: 0px solid rgb(0, 56, 123); */
    font-family: "Noto Serif", serif;
    border-radius: 0rem;
    margin: 0%;
    /*     width: 100%; */
  }

  h1 {
    width: 100%;
    font-family: "Noto Serif", serif;
    font-size: 9vh;
    align-content: center;
  }
  h2 {
    width: 100%;
    font-family: "Noto Serif", serif;
    font-size: 5vh;
    color: white;
    align-content: center;
  }
  p {
    color: white;
    font-family: "Noto Serif", serif;
    font-size: 18px;
  }
  .anual {
    width: 100%;
    height: auto;
  }
  .video {
    width: 100%;
    height: auto;
  }
}
@media only screen and (max-width: 1025px) {
  .Home {
    background-color: rgb(0, 56, 123);
    /* border: 0px solid rgb(0, 56, 123); */
    font-family: "Noto Serif", serif;
    border-radius: 0rem;
    margin: 0%;
    width: 100%;
  }

  .video {
    width: 100%;
    height: auto;
  }
}
</style>
