<template>
  <div class="Footer">
    
    <div class="redes">
      <div v-if="$cookies.get('lang')== 'eu'">
     
          
      </div>
    <div v-if="$cookies.get('lang')== 'es'">
     
      <br />
      </div>
      <br />
      <a href="https://www.facebook.com/SantutxuHockeyTaldeaOficial/" target="blank">
        <img src="@/assets/logos/facebbok.png" alt="facebook" />
      </a>

      <a href="https://www.instagram.com/santutxuhockeytaldea/" target="blank">
        <img src="@/assets/logos/instagram-bosquejado.png" alt="Instagram" />
      </a>

      <meta name="viewport" content="width=device-width, initial-scale=1.0" />

      <a href="https://twitter.com/santutxuht?lang=es" target="blank">
        <img src="@/assets/logos/twitter.png" alt="twitter" />
      </a>

      <a href target="blank">
        <img src="@/assets/logos/you tube.png" alt="youtobe" />
      </a>
    </div>

 <div class="enlaces">
  <div v-if="$cookies.get('lang')== 'eu'">
      
     
      </div>
  <div v-if="$cookies.get('lang')== 'es'">
    
     
      </div>
     <!--  <a class="rfep" href="http://www.irristaketa.org/publico/home.asp?idioma=ca" target="blank">
        <img src="@/assets/logos/ftbp.png" alt="ftbp" />
      </a>
      
      <a class="fep" href="https://fep.es/website/index.asp" target="blank">
        <img src="@/assets/logos/rfep-txt.jpg" alt="rfeps" />
      </a>
   
      <a class="fvp" href="http://fvpatinaje.eus" target="blank">
        <img src="@/assets/logos/logo.png" alt="fep" />
      </a> --> 
     
      <a class="bv" href="https://www.barovari.com/" target="blank">
        <img src="@/assets/logos/barovari.png" alt="barovari" />
      </a>

      <a class="bk" href="https://www.bilbaokirolak.com" target="blank">
        <img src="@/assets/logos/Bilbao_Kirolak.jpg" alt="b-k" />
      </a>
    </div>
   
    <div class="peñascal">
       <div v-if="$cookies.get('lang')== 'eu'">
      
       <p>Eskerrik asko:  </p>
      </div>
<div v-if="$cookies.get('lang')== 'es'">
       <p>Nuestro agradecimiento:  </p>
      </div>
  
        <a href="https://www.peñascalf5.org" target="_blank">
          <img src="@/assets/logos/PeñascalF5.png" alt="peñ" />
        </a>
       
        <br />
    
    </div>
     <div class="copyright">
  
<div v-if="$cookies.get('lang')== 'es'">
  
      <p>Copyright &copy; 2020 Santutxu Hockey Taldea. Derechos reservados.</p><p>Autora: Anto. Socia de este Club.</p>
      </div>
      <div v-if="$cookies.get('lang')== 'eu'">
      
       <p>Copyright & copy; 2020 Santutxu Hockey Taldea. Eskubide erreserbatuak. </p> <p> Egilea: Anto. Klub honetako kidea.</p>
     </div>
     </div>
  </div>
</template>

<script>
export default {
  name: "footer"
};
</script>

<style scoped>

.Footer {
  background: rgb(255, 255, 255);
  font-family: "Noto Serif", serif;
  font-size: 12px;

  color: rgb(0, 56, 123);
  text-align: center;
  flex-direction: column;
  margin-left: 1px;
  margin-right: 1px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 10px;
  padding-right: 30px;
}
.redes {
  font-family: "Noto Serif", serif;
  color: rgb(0, 56, 123);

  text-align: center;
  align-content: flex-end;
  padding-left: 10px;
  margin-left: 10px;
  padding-bottom: 0rem;
 
}

.enlaces {
  font-family: "Noto Serif", serif;

  border: 2px;
  color: rgb(0, 56, 123);
 
  text-align: center;
  align-content: flex-end;
  padding-right: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-right: 10px;
  padding-bottom: 0rem;
  padding-top: 0rem;
}

img {
  width: auto;
  height: 50px;

}
.fvp img{

   border-radius: 0;
}
.rfep img{
   border: 1px solid rgb(0, 56, 123);
   border-radius: 5px;
}
.fep img{
   border: 1px solid rgb(228, 13, 13);
   border-radius: 5px;
}

.bv img{
   border: 1px solid rgb(0, 56, 123);
   border-radius: 4px;
   padding-right: 10px;
   padding-left: 10px;
   margin-left: 10px;
   margin-right: 20px;
   margin-top:10px;
   
}
.bk img{
 
   border: 1px solid rgb(228, 13, 13);
   border-radius: 4px;
   padding-right: 10px;
   padding-left: 10px;
   margin-left: 20px;
   margin-right: 10px;
}
@media only screen and (max-width: 600px) {
  img {
     width: auto;
    height: 25px;
  }
}
</style>
