<template>
<div>
  <div class="contacto">
    
<p>Santutxu Hockey Taldea<br/>
Polideportivo de Txurdinaga<br/>
Circo Amateur del Club Deportivo Kalea, 2<br/>
48004 Bilbao
</P>
   
    <a
      href="https://wego.here.com/directions/mix//Santutxu-Hockey-Taldea-Oficial,-48004-Santutxu-Bilbao,-Espa%C3%B1a:e-eyJuYW1lIjoiU2FudHV0eHUgSG9ja2V5IFRhbGRlYSBPZmljaWFsIiwiYWRkcmVzcyI6IkNpcmNvIEFtYXRldXIgZGVsIENsdWIgRGVwb3J0aXZvIHNcL24sIDQ4MDA0IEJpbGJhbyIsImxhdGl0dWRlIjo0My4yNTA2NTc0NzkxNTgsImxvbmdpdHVkZSI6LTIuOTA3Mjk5OTk1NDIyNCwicHJvdmlkZXJOYW1lIjoiZmFjZWJvb2siLCJwcm92aWRlcklkIjoxNTY3MjcxNzA2ODI4NDM5fQ==?map=43.25066,-2.9073,15,normal&fb_locale=es_ES"
       target="blank"
    ><img class="img-uvi" src="@/assets/logos/ubicacion.jpg" alt="Ubicacion" /></a>
    <br/>
    
    <a class="email" href="mailto:santutxuht@hotmail.es"><img src="@/assets/logos/gmail.jpg" alt="e-mail" /></a>
<br/>
    
    <a class="fono" href="605 891 711"><img src="@/assets/logos/contacto.png" alt="Tlf" /></a>605 891 711
  </div>

<div v-if="$cookies.get('lang')== 'eu'">
      <div id="formulario" class="formulario">
  <p>
Jarri gurekin harremanetan</p>
  <form
    action="https://formspree.io/xaypdevz"
    method="POST"
    enctype="multipart/form-data">
    
    <label>
      Izena:<br>
      <input type="text" name="Nombre">
    </label>
    <br/>
    <label>
      Abizenak:<br>
      <input type="text" name="Apellido">
    </label>
      <br/>
    <label>
      Telefonoa:<br>
      <input type="text" name="Telefono">
    </label>
      <br/>
      <label>
      Posta elektronikoa:<br>
      <input type="text" name="_replyto">
    </label>
      <br/>  
    <label>
      Testua:<br>
      <textarea name="textarea" rows="10%" cols="45%"></textarea>
    </label>

      <br/>
    <button class="buttonForm"  type="submit">Bidali</button>
  </form>
  </div>
      </div>
<div v-if="$cookies.get('lang')== 'es'">
    
  <div id="formulario" class="formulario">
  <p>Contacta con nosotros</p>
  <form
    action="https://formspree.io/xaypdevz"
    method="POST"
    enctype="multipart/form-data">
    
    <label>
      Nombre:<br>
      <input type="text" name="Nombre">
    </label>
      <br/>
      <label>
     Apellidos:<br>
      <input type="text" name=Apellido>
    </label>
      <br/>
    <label>
      Telefono:<br>
      <input type="text" name="Telefono">
    </label>
      <br/>
      <label>
      Correo:<br>
      <input type="text" name="_replyto">
    </label>
      <br/>  
    <label>
      Texto:<br>
      <textarea name="textarea" rows="10%" cols="45%"></textarea>
    </label>

      <br/>
    <button class="buttonForm"  type="submit">Enviar</button>
  </form>
  </div>  </div>
  </div>
  

  
</template>

<script>
export default {
  name: "contacto"
};
</script>

<style scoped>
.contacto {
  background-color: rgb(0, 56, 123);
  font-family: "Noto Serif", serif;
  color:white;
  text-align: center;
  flex-direction: column;
  margin-left: 1px;
  margin-right: 1px;
  height:auto;
  padding-top: 2rem;
  padding: 2rem;
  padding-left: 10px;
  padding-right: 30px;
}
.formulario {
  background-color: rgb(0, 56, 123);
  font-family: "Noto Serif", serif;
  text-align: center;
  color:white;
  flex-direction: center;
  margin-left: 1px;
  margin-right: 1px;
  height:auto;
  padding-top: 2rem;
  padding: 2rem;
  padding-left: 60px;
  padding-right: 30px;
}
.formulario input{
  width:30%;
  height: 50%;

}
.buttonForm{
  border-radius: 0rem;
    padding: 0rem;
    margin-left: 15vh;
    margin-right: 15vh;
    margin-top: 5%;
    width: 5%;
    -ms-flex-item-align: center;
    align-self: center;
}
img {
  width: 50px;
  height: auto;
  color: white;
}
@media only screen and (max-width: 600px) {
  
  img {
    width: 25px;
    height: auto;
  }
  textarea{
    height: 10%;
    width: 65%;
  }
  .buttonForm{
   border-radius: 0rem;
    padding: 0rem;
    margin-left: 15vh;
    margin-right: 15vh;
    margin-top: 5%;
    width: 50%;
    -ms-flex-item-align: center;
    align-self: center;
}
}
</style>
