<template>
  <div class="Campus">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <h1>Campus</h1>
<!-- <iframe src="https://drive.google.com/file/d/1RFNIo1taHM3PSvTzrfSR_iu6r5Vw61yx/preview" width="640" height="480"></iframe> -->

    <img src="@/assets/Campus-Santutxu.jpg" alt="Campus" />
    <p>
      <br />
      
  <div v-if="$cookies.get('lang')== 'es'">
      
      
      <br />Aquí pondremos informacion de nuestro proximos campus o eventos..</div>
      <br />
  <div v-if="$cookies.get('lang')== 'eu'">
      <br/>Hemen, gure hurrengo campusari edo gertakariei buruzko informazioa jarriko dugu.</div>
      <br />
  
  </div>
</template>

<script>
export default {
  name: "campus"
};
</script>

<style scoped>
h1 {
  font-family: "Noto Serif", serif;
  font-size: 60px;
  /*   color: rgb(0, 56, 124); */
  color: white;
}
p {
  font-family: "Noto Serif", serif;
  font-size: 20px;
  /*   color: rgb(0, 56, 124); */
  color: white;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.Campus {
  font-family: "Noto Serif", serif;
  text-align: center;
  font-size: 30px;
  color: white;
  background-color: rgb(0, 56, 123);
  border: 2px solid rgb(0, 56, 123);
  border-radius: 0rem;
  margin: 0px;
}
img {
  width: 1000px;
  height: auto;
}
@media only screen and (max-width: 600px) {
  img {
    width: 300px;
    height: auto;
  }

  .Campus {
    /* background-color: rgb(0, 56, 123); */
    border: 2px solid rgb(0, 56, 123);
    font-family: "Noto Serif", serif;
    font-size: 40px;
    color: rgb(0, 56, 123);
    border-radius: 0rem;
    margin: 0rem;
  }
}
</style>
