<template>
  <div id="app">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    
    <div id="Menu" class="menu"> <!--tengo que poner el menú en horizontal-->
        <br />
      
        <ul v-if="$cookies.get('lang')== 'es' || !$cookies.get('lang')">
          <li>
            <router-link to="/">Home</router-link>
          </li>

          <li>
            <router-link to="/historia">Historia</router-link>
          </li>

          <li>
            <router-link to="/equipos">Equipos</router-link>
          </li>

          <li>
            <router-link to="/escuela">Escuela de patinaje</router-link>
          </li>

          <li>
            <router-link to="/Partidos">Partidos semana</router-link>
          </li>

          <li>
            <router-link to="/campus">Campus</router-link>
          </li>

          <li>
            <router-link to="/contacto">Contacto</router-link>
          </li>
        </ul>
        <ul v-if="$cookies.get('lang')== 'eu'">
          <li>
            <router-link to="/">Etxea</router-link>
          </li>

          <li>
            <router-link to="/historia">Historia</router-link>
          </li>

          <li>
            <router-link to="/equipos">Taldeek</router-link>
          </li>

          <li>
            <router-link to="/escuela">Patinaje eskola</router-link>
          </li>

          <li>
            <router-link to="/Partidos">Asteko partiduak</router-link>
          </li>

          <li>
            <router-link to="/campus">Campus</router-link>
          </li>

         <li>
            <router-link to="/contacto">Harremanetarako</router-link>
          </li>
        </ul>

        <button
          type="button"
          name="Euskera"
          @click="setLangEu"
          v-if="$cookies.get('lang')== 'es' || !$cookies.get('lang')"
        >
          Euskera
        </button>

        <button
          type="button"
          name="Castellano"
          @click="setLangEs"
          v-if="$cookies.get('lang')== 'eu'"
        >
          Castellano
        </button>
      </div> 
    
     <div id="nav" class="nav">
      <div class="escudo1">
        <img class="escudo" src="@/assets/ESCUDO.png" alt="Escudo" />
      </div>

      <Carrussel />
    </div>
    <router-view />
    <Footer />
  </div>
</template>

<script>
/* eslint no-console: 0*/
import Footer from "@/components/footer/Footer.vue";
import Carrussel from "@/components/carrussel/Carrussel.vue";

export default {
  name: "app",
  components: {
    Footer,
    Carrussel
  },
  methods: {
    setLangEu() {
      this.$cookies.set("lang", "eu", 365 * 24 * 60 * 60);
      location.reload();
    },
    setLangEs() {
      this.$cookies.set("lang", "es", 365 * 24 * 60 * 60);
      location.reload();
    }
  }
};
</script>

<style>
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap");

#app a {
  font-family: "Noto Serif", serif;
  color: white;
}

#app footer {
  font-family: "Noto Serif", serif;
  color: black;
  border: 0%;
}
#nav {
  padding: 0%;
  display: flex;
  margin: 0%;
  width: 100%;
}

.escudo1 {
  width:auto;
  height: 40%;
  float: none;
  margin-left: 0%;
  border: 0%;
  padding: 0%;
}
.escudo {
  width: 40%;
  height: auto;
  float: none;
  margin-left: 0%;
  border: 0%;
  padding: 0%;
}

button {
  border-radius: 0rem;
  padding: 0rem;
  margin-left: 15vh;
  margin-right: 15vh;
  width: 28%;
  align-self: center;
}

img {
  width: 2%;
  height: auto;
}

.menu {
  
  float:none;
  

  font-family: "Noto Serif", serif;
  text-align: center;

  background: rgb(0, 56, 123);
  color: white;
  border: 0px solid rgb(0, 56, 123);
  border-radius: 0rem;
  padding: 2%;
  margin: 0%;
 
  
}
.menu a {
  font-family: "Noto Serif", serif;
  text-align: center;
  border: 0px;
  border-radius:0rem;
  margin-right: 15px;
 
  color: black;
}

.carrussel {
  border: 2px solid rgb(0, 56, 123);
  border-radius: 0rem;
  width: 100%;
  display: flex;
  float: right;

  margin: 0%;
}
ul {
  display: inline;
  margin-left: auto;
  margin-right: auto;
  padding-inline-start: 0px;

  font-family: "Noto Serif", serif;
  text-align: center;
  color: black;
}
li {
  display: inline;
  padding-bottom: 5%;
  list-style-type: none;

  font-family: "Noto Serif", serif;
  text-align: center;
  color: black;
}

/*cualquier ancho del navegador que sea inferior a 600*/
@media only screen and (max-width: 600px) {
  .escudo1 {
    width: 20%;
    height: auto;
    margin-left: 0%;
    border: 0%;
    padding: 0%;
  }
  .escudo {
    width: 100%;
    height: auto;
    margin-left: 0%;
    border: 0%;
    padding: 0%;
  }

  .menu {
    font-family: "Noto Serif", serif;
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin-left: 0%;
    margin-right: 0%;
    width: 100%;
  }
  button {
    border-radius: 0rem;
    padding: 0rem;
    margin-left: 15vh;
    margin-right: 15vh;
    width: 50%;
  }
  .carrussel {
    border: 2px solid white;
    border-radius: 1rem;
    font-family: "Noto Serif", serif;
    display: flex;
    flex-direction: column;
    margin-right: 1%;
    width: 10%;
  }
  img {
    width: 50%;
    height: auto;
  }
}
</style>
